// Boxes

@mixin box($color: $color-light, $border-color: $color-light) {
    background-color: $color;
    border-radius: $box-border-radius;
    box-sizing: border-box;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    border: $rule-thickness solid $border-color;
    margin: $line-height-default 0;
    padding: ($line-height-default / 2);
    & p:last-of-type,
    & ol:last-of-type,
    & ul:last-of-type {
        margin-bottom: 0;
    }
    // No text-indent on paragraphs after boxes
    & + p {
        text-indent: 0;
    }
    // No margin above the first headings in a box
    h1:first-of-type, 
    h2:first-of-type, 
    h3:first-of-type, 
    h4:first-of-type, 
    h5:first-of-type, 
    h6:first-of-type {
        margin-top: 0;
    }
    li {
        // Paragraphs within list items in a box
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    // Definition lists inside a box
    dl {
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

$epub-boxes: true !default;
@if $epub-boxes {

    .box {
        @include box();
    }

    // A regular paragraph as a box
    p.box {
        text-indent: 0;
    }
    // A list as a box
    ol.box,
    ul.box {
        padding: ($line-height-default / 2) ($line-height-default / 2) ($line-height-default / 2) ($line-height-default);
    }
    // A regular list item as a box
    li.box {}

}
