$epub-bibliographies: true !default;
@if $epub-bibliographies {

    // Bibliographies set as lists

    .bibliography {
        text-indent: 0;
        margin: $line-height-default 0;
    }
    .bibliography + p {
        text-indent: 0; // Paragraphs after bibliographies should be flush left
    }
    ul.bibliography {
        list-style-type: none;
        padding: 0;
        margin: $line-height-default 0;
    }
    ul.bibliography li {
        text-indent: -($paragraph-indent);
        margin-left: ($paragraph-indent * 2);
    }

}
