$epub-title-pages: true !default;
@if $epub-title-pages {

	// Halftitle-page and title-page

	.titlepage, 
	.title-page, 
	.halftitle-page, 
	.half-title-page {
		margin: $start-depth auto 0 auto;
		text-align: center;
		h1, p {
			text-indent: 0;
			hyphens: none;
			text-align: center;
		}
		.half-title-page-title, 
		.halftitle-page-title, 
		.halftitlepage-title, 
		.title-page-title, 
		.titlepage-title {
			font-weight: bold;
			font-family: $font-display-main;
			font-size: $font-size-default * $font-size-bigger;
			line-height: 1;
			margin: 0 0 $line-height-default 0;
			// string-set: book-title content(); // breaks entire CSS file in Adobe Digital Editions
		}
		.title-page-subtitle, 
		.titlepage-subtitle {
			font-family: $font-display-main;
			font-size: $font-size-default * $font-size-bigger;
			line-height: 1;
			margin: 0 0 $line-height-default 0;
			// string-set: book-subtitle content(); // breaks entire CSS file in Adobe Digital Editions
		}
		.title-page-author, 
		.titlepage-author {
			font-size: $font-size-default * $font-size-bigger;
			line-height: 1;
			margin: 0 0 $line-height-default 0;
			// string-set: book-author content(); // breaks entire CSS file in Adobe Digital Editions
		}
		.title-page-publisher, 
		.titlepage-publisher {
			text-indent: 0;
		}
		.title-page-logo, 
		.titlepage-logo {
			display: block; // In case the class is applied to the image, not the paragraph
			margin: $line-height-default auto 0 auto;

			max-width: 5rem;
			@if $title-page-logo-width {
				max-width: $title-page-logo-width;
			}

			img {
				width: 100%;
			}
		}
	}
}
