$epub-helpers: true !default;
@if $epub-helpers {

    .visuallyhidden {

        // See https://webaim.org/techniques/css/invisiblecontent/
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
    }
}
