$epub-cover: true !default;
@if $epub-cover {

	// Cover image. Forms the cover image in epubs.
	.wrapper.cover,
	div.cover {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	p.cover {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		text-indent: 0;
		height: 100vh;
	}
	img.cover {
		max-height: 100%;
		max-width: 100%;
		border: $rule-thickness solid $color-light;
	}

}