$pdf-cross-refs: true !default;
@if $pdf-cross-refs {

	// Show the URL of a link with a show-url class.
	a.show-url::after,
	a.pdf-show-url::after {
	    content: " (" attr(href) ")";
	}
	// Show the page number of a link with a show-page-number class.
	a.show-page-number::after {
	    // uses prince-script in page-references.js to only insert a page number
	    // if we're not already on the same page as the target reference.
	    content: prince-script(pagereference, counter(page), target-counter(attr(href), page));
	}
	// Use `show-page-number-lower-roman` for page refs to lower-roman pages
	a.show-page-number-lower-roman::after {
	    content: prince-script(pagereference, counter(page), target-counter(attr(href), page, lower-roman));
	}

}
