$pdf-hide-non-printing: true !default;
@if $pdf-hide-non-printing {

    // For hiding elements that must not appear in print editions.

    .non-printing, // Anything marked tagged .non-printing
    .sigil_split_marker, // Split-markers for epub output with Sigil
    .masthead, // Web masthead, hidden when users print web version from browser
    #nav, // Web navigation, hidden when users print web version from browser
    #footer, // Web footer, hidden when users print web version from browser
    {
        display: none;
    }

    // Indent paras that appear consecutively after non-printing elements
    p + .non-printing + p,
    p + .non-printing + .non-printing + p,
    p + .non-printing + .non-printing + .non-printing + p {
        text-indent: $paragraph-indent;
    }
    @if $spaced-paras {
        p + .non-printing + p,
        p + .non-printing + .non-printing + p,
        p + .non-printing + .non-printing + .non-printing + p {
            text-indent: 0;
        }
    }

}