$pdf-cover: true !default;
@if $pdf-cover {

    // Cover-page styling. Creates a single-page low-res cover for web PDFs.
    @page cover-page {
        margin: 0 0 0 0;
    }

    .wrapper.cover-page {
        margin: 0;
        padding: 0;

        // Add extra verso to retain correct folios
        page-break-after: left;

        // The above property may not work to ensure
        // a blank page after the cover-page.
        // So we also target the next wrapper.
        // This only works when using the default
        // merged-HTML PDF output.
        & + .wrapper {
            break-before: right;
        }
    }
    p.cover {
        margin: 0;
        padding: 0;
        text-indent: 0;
    }
    img.cover {
        height: 100%;
        max-width: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    // Also see:
    // _pdf-page-break-tools.scss
    // _pdf-start-on-recto-and-verso

}
