$pdf-cover: true !default;
@if $pdf-cover {

    // Cover-page styling. Creates a single-page low-res cover for web PDFs.
    @page cover {
    	margin: 0;
    }
    .wrapper.cover,
    div.cover {
        margin: 0;
        padding: 0;
    }
    p.cover {
        margin: 0;
        padding: 0;
        text-indent: 0;
    }
    img.cover {
        height: 100%;
        width: 100%;
    }

    // Add extra verso to retain correct folios
    .wrapper.cover {
        page-break-after: left;
    }

    // Also see:
    // _pdf-page-break-tools.scss
    // _pdf-start-on-recto-and-verso

}