$pdf-openers: true !default;
@if $pdf-openers {

    // A paragraph that starts a new set of paragraphs, with a gap above it.
    .first {
    	text-indent: 0;
    	margin-top: $line-height-default; // Overridden by later rule for paragraphs after headings, blockquotes, lists and definition lists
    }

    .part-number,
    .chapter-number {
        display: block;
    }

    .opener-image-wrapper {
        margin-inside: -($margin-inside);
        margin-outside: -($margin-outside);
        margin-top: -($margin-top);
        width: $page-width;

        .opener-image {
            height: $opener-image-height;
            object-fit: cover;
            width: 100%;
        }
    }
}