$pdf-video: true !default;
@if $pdf-video {

    // Video
    // Works specifically with our video includes

    .video {
        font-family: $font-text-secondary;
        margin: $line-height-default 0;
        position: relative;

        img {
            width: 100%;
        }

        .video-description {
            font-size: $font-size-default * 0.8;
            margin: ($line-height-default / 2) 0;
            text-align: left;
        }

        .video-wrapper {

            // Create placeholder with 16:9 aspect ratio
            // when there is no image to display
            &.video-no-image {
                width: 100%;
                background-color: $color-accent;
                border-radius: $box-border-radius;

                .video-link {
                    display: block;

                    // We use this technique to create a 16/9
                    // aspect ratio because the aspect-ratio property
                    // is not supported in Prince yet.
                    // https://www.princexml.com/forum/topic/4935/aspect-ratio-property
                    height: 0;
                    padding-top: 56.25%;
                }
            }
        }

        // Don't indent a paragraph after a video.
        & + p {
            text-indent: 0;
        }

        .video-options {

            // Hidden in PDF by default, but designed so that
            // this can be overridden in custom CSS with
            // .video .video-options { display: block; }
            display: none;

            color: $color-text-secondary;
            font-size: $font-size-default * 0.8;
            margin: ($line-height-default / 2) $paragraph-indent 0 $paragraph-indent;
            position: relative;

            .video-options-label {
                font-weight: bold;
            }

            .video-options-content {

                > :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
