// Footnotes

// kramdown gives footnote references the class .footnote
// and the div containing the footnotes .footnotes.
// In books, we call these endnotes. To avoid confusion,
// here we will call true footnotes 'page-footnotes'.
// Styling for sup and sub is in base typography

$print-notes: true !default;
@if $print-notes {

    // Footnote reference in text, and see
    // *::footnote-call below
    .footnote {
        line-height: inherit;
        // Ensure footnote refs in headings are small
        font-size: $font-size-default * $font-size-smaller;
    }

    // Footnotes section
    .footnotes {
        margin: $line-height-default 0 0 0;
        font-size: $font-size-default * $font-size-smaller;
        line-height: $line-height-default * $font-size-smaller;
        p {
            text-indent: 0;
        }
    }
    // Hide the link back to the footnote reference from the footnote text.
    .reversefootnote {
        display: none;
    }

    // Sidenotes
    .sidenote {
        @include sidenote();
    }
    // Sidenotes that appear at the bottom of the page, aka footer notes.
    .bottom {
        float: bottom;
        max-width: 100%;
        margin: ($line-height-default * 0.75) 0 0 0;
    }

    // True footnotes (we call them page-footnotes for clarity)
    // For styling see https://www.princexml.com/doc-prince/#footnote-calls
    .page-footnote {
        float: footnote;
        font-size: $font-size-default * $font-size-smaller;
        footnote-style-position: inside;
        text-indent: -($line-height-default);
        margin-left: $line-height-default;
        // Rule above
        &:first-of-type {
            border-top: $rule-thickness solid $color-text-secondary;
            padding-top: $line-height-default;
        }
        p {
            margin-bottom: 0;
            text-indent: 0;
            &:first-of-type {
            }
        }
    }
        // The numbers in front of footnote text
        *::footnote-marker {
            float: left;
            font-size: $font-size-default * $font-size-smaller;
            width: 0;
        }

    // Avoid page-footnotes created by footnotes.js
    // from inheriting blockquote indentation by
    // reiterating properties that blockquote might override.
    blockquote .page-footnote {
        text-indent: -($line-height-default);
        margin-left: $line-height-default;
    }

    // The page-footnotes area
    @page {
        @footnote {
            margin-top: $line-height-default / 2;
            padding-top: $line-height-default / 2;
            font-size: $font-size-default * $font-size-smaller;
        }
    }

    // The page-footnote references in body text
    // Note that other <sup> styling is defined in
    // _print-base-typography.scss
    *::footnote-call {
        content: counter(footnote);
        font-size: $font-size-default * 0.7;
        vertical-align: super;
        line-height: none;
        // Shift down
        top: $font-size-default / 4;
        position: relative;
    }

}
