$print-page-setup: true !default;
@if $print-page-setup {

	// Set up our basic page margins
	@page { 
		size: $page-width $page-height;
		margin-top: $margin-top;
		margin-bottom: $margin-bottom;
		margin-outside: $margin-outside;
		margin-inside: $margin-inside;
		padding: 0;
		marks: $crop-marks;
		prince-bleed: $bleed;
		prince-trim: $trim;
		prince-pdf-page-colorspace: $colorspace;
	}
	/* Name our book-part styles as divs. PrinceXML needs the pages named for @page rules. */
	.cover {
		page: cover;
	}
	.halftitle-page, .half-title-page {
		page: halftitle-page;
	}
	.title-page {
		page: title-page;
	}
	.previous-publications-page {
		page: previous-publications-page;
	}
	.copyright-page {
		page: copyright-page;
	}
	.dedication-page {
		page: dedication-page;
	}
	.frontispiece-page {
		page: frontispiece-page;
	}
	.contents-page {
		page: contents-page;
	}
	.frontmatter {
		page: frontmatter; /* Use for any other frontmatter */
	}
	.part-page {
		page: part-page;
	}
	.chapter {
		page: chapter;
	}

}