@mixin floats($join: null) {

  @if $join {

    // Float an element, like a box, to the top or bottom of a page (print only)
    &.float-top#{$edition-suffix} {
      float: top;
      margin-top: 0;
    }
    &.float-bottom#{$edition-suffix} {
      float: bottom;
      margin-bottom: 0;
    }
    &.float-top-next#{$edition-suffix} {
      float: top next;
      margin-top: 0;
    }
    &.float-column-top#{$edition-suffix} {
      float: column-top;
      margin-top: 0;
    }
    &.float-column-bottom#{$edition-suffix} {
      float: column-bottom;
      margin-bottom: 0;
    }
    &.float-column-top-next#{$edition-suffix} {
      float: column-top next;
      margin-top: 0;
    }
    &.float-column-bottom-next#{$edition-suffix} {
      float: column-bottom next;
      margin-bottom: 0;
    }
    &.float-column-top-corner#{$edition-suffix} {
      float: column-top-corner next;
      margin-top: 0;
    }
    &.float-column-bottom-corner#{$edition-suffix} {
      float: column-bottom-corner next;
      margin-bottom: 0;
    }
    &.float-column-top-corner-next#{$edition-suffix} {
      float: column-top-corner next;
      margin-top: 0;
    }
    &.float-column-bottom-corner-next#{$edition-suffix} {
      float: column-bottom-corner next;
      margin-bottom: 0;
    }
  } @else {

    // Float an element, like a box, to the top or bottom of a page (print only)
    .float-top#{$edition-suffix} {
      float: top;
      margin-top: 0;
    }
    .float-bottom#{$edition-suffix} {
      float: bottom;
      margin-bottom: 0;
    }
    .float-top-next#{$edition-suffix} {
      float: top next;
      margin-top: 0;
    }
    .float-column-top#{$edition-suffix} {
      float: column-top;
      margin-top: 0;
    }
    .float-column-bottom#{$edition-suffix} {
      float: column-bottom;
      margin-bottom: 0;
    }
    .float-column-top-next#{$edition-suffix} {
      float: column-top next;
      margin-top: 0;
    }
    .float-column-bottom-next#{$edition-suffix} {
      float: column-bottom next;
      margin-bottom: 0;
    }
    .float-column-top-corner#{$edition-suffix} {
      float: column-top-corner next;
      margin-top: 0;
    }
    .float-column-bottom-corner#{$edition-suffix} {
      float: column-bottom-corner next;
      margin-bottom: 0;
    }
    .float-column-top-corner-next#{$edition-suffix} {
      float: column-top-corner next;
      margin-top: 0;
    }
    .float-column-bottom-corner-next#{$edition-suffix} {
      float: column-bottom-corner next;
      margin-bottom: 0;
    }
  }
}

