$web-dedications: true !default;
@if $web-dedications {

    // Dedications

    .dedication-page {
        .content {
    	   margin-top: $start-depth;
        }
    }

    p.dedication {
    	text-indent: 0;
    	text-align: center;
    }
    // Paragraphs after dedications
    .dedication + p {
        text-indent: 0;
        margin-top: $line-height-default;
    }

}