$web-copyright-page: true !default;
@if $web-copyright-page {

    // Copyright page

    .copyright-page {
        p {
           text-indent: 0;
           margin: 0 0 ($line-height-default / 2) 0;
        }
        .identifiers {
            .identifier-scheme {}
            .identifier-format {}
            .identifier-id {}
        }
    }

}
