@mixin button($text-color: $color-background, $button-color: $color-buttons, $button-hover-color: $color-buttons-hover) {
    display: inline-block;
    font-family: $font-text-secondary;
    color: $text-color;
    line-height: 100%;
    text-decoration: none;
    background-color: $button-color;
    padding: 0.2rem 0.4rem;
    margin: 0;
    text-align: center;
    text-indent: 0;
    border-radius: $button-border-radius;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: $button-hover-color;
    }
}

// This mixin used for close buttons
// on items like footnote popups
@mixin button-close($color) {

    // Appearance
    background: $color;
    border-radius: 1em;
    border: 0;
    color: $color-background;
    font-family: sans-serif; // reduces spacing/alignment issues
    text-decoration: none;

    // Position
    position: absolute;
    right: -1em;
    text-align: center;
    top: -1em;
    width: 2em;
    height: 2em;

    // Layout
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:before {
        content: $nav-bar-close;
        font-size: 2em;
    }
}
