$web-pagination: true !default;
@if $web-pagination {

    // Pagination (next and previous pages)

    .pagination {
        font-family: $font-text-secondary;
        padding: $line-height-default;
        margin: auto;

        // Clearfix
        &::after {
            content: "";
            display: block;
            clear: both;
        }

        a {
            text-decoration: none;
        }

        .pagination-previous {
            float: left;
            width: 70%;
            max-width: 20rem;

            .pagination-previous-arrow {
                margin-left: -1rem;
            }
        }

        .pagination-next {
            float: right;
            width: 70%;
            max-width: 20rem;
            text-align: right;

            .pagination-next-arrow {
                margin-right: -1rem;
            }
        }
    }
}
