$web-masthead: true !default;
@if $web-masthead {

    // Masthead

    .masthead {

        // Position
        display: flex;

        // Appearance
        background-color: $masthead-background-color;
        border-bottom: $rule-thickness solid $masthead-border-color;
        color: $masthead-text-color;
        font-family: $font-text-secondary;
        text-align: center;

        &:after {
            content: "";
            display: block;
            clear: both;
        }

        a {
            color: $masthead-text-color;
            text-decoration: none;
        }

        .masthead-logo {
            padding: 1rem;
            max-height: $masthead-height;
            width: 5rem;

            @if $masthead-logo-width {
                width: $masthead-logo-width;
            }

            img {
                max-height: 100%;
                max-width: 100%;
            }

            @if $masthead-logo-position == "right" {
                order: 2;
            }
        }

        ul {

            // Position
            display: flex;
            width: 100%;

            @if $masthead-align == "right" {
                justify-content: end;
            } @else if $masthead-align == "center" {
                justify-content: center;
            } @else {
                justify-content: start;
            }

            // Appearance
            list-style-type: none;
            margin: 0 auto;
            padding: 0.5rem 0.5rem 0.5rem 0;

            // Keep masthead height when li is display:none
            min-height: $masthead-height;

            li {
                display: none; // hide masthead breadcrumbs as mobile-first default

                @media only screen and (min-width: $max-width-default) {
                    align-items: center;
                    display: inline-flex;
                    margin: 0 0.5em 0 0;

                    // The divider between project and book title
                    // Should not show if there is only one work,
                    // and therefore no project title in masthead.
                    &:after {
                        content: $masthead-breadcrumb-divider;
                        color: $masthead-text-color;
                        margin-left: 0.5em;
                    }

                    // No symbol after last item
                    &:last-of-type:after {
                        content: normal;
                    }
                }
            }
        }
    } // .masthead
}
