$web-cover: true !default;
@if $web-cover {

	// Cover image. This is useful for landing pages for individual books.

	.wrapper.cover {
		.content {
			margin: 0 auto;
			padding: 0;
			h1 {
				line-height: 0;
				font-size: 0;
			}
		}
	}
	p.cover,
	.wrapper div.cover {
		max-height: 90vh;
		max-width: 100vw;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		text-indent: 0;
	}
	img.cover {
		max-height: 90vh;
		max-width: 100vw;
		border: $rule-thickness solid $color-light;
	}

}
