$web-highlighter: true !default;
@if $web-highlighter {

    // Highlighter

    .highlighter,
    a[href="highlighter"] {
        background-color: yellow;
        color: inherit;
        border-radius: $button-border-radius;
    }

}