$web-toc: true !default;
@if $web-toc {

	// Tables of contents

	.contents-page {

		// Only applies to .content in contents-page,
		// i.e. not to the nav or footer
		.content {

			ol, ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {

					ol, ul {
						margin-left: $paragraph-indent;
					}

					a {
						text-decoration: none;
					}
				}
			}
		} // .content
	} // .contents-page


	// TOCs in individual pages, created in kramdown
	// with a placeholder ol/ul followed by {:toc}

	.content {

		#markdown-toc, .markdown-toc {
			font-family: $font-text-secondary;
			list-style-type: none;
			border: $rule-thickness solid $color-mid;
			padding: ($line-height-default / 2) ($paragraph-indent / 2);
			margin: 0 0 $line-height-default 0;

			// First entries bold makes for better
			// readability when there are subentries.
			& > li > a {
				font-weight: bold;
			}

			li {
				margin: 0;

				ol, ul {
					margin-bottom: 0;
				}

				a {
					text-decoration: none;
				}
			}

			&.markdown-toc-wide {
				box-sizing: border-box;
				float: none;
				width: 100%;
				max-width: none;
				@media (min-width: $break-width-small) {
					columns: 2;
				}
			}
		} // #markdown-toc
	} //.content

}