$web-wrappers: true !default;
@if $web-wrappers {

    .wrapper {
        background-color: $color-background;
        overflow-x: hidden; // Prevents horizontal scroll esp. on small screens
    }

    .content {
        clear: none;
        padding: 0 1rem;
        margin: 0 auto ($line-height-default) auto;
        max-width: $max-width-default;
    }

}
