$web-base-typography: true !default;
@if $web-base-typography {

    // General typography

    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        margin: 0;
        padding: 0;
        color: $color-text-main;
        background-color: $footer-background-color; // See -wrappers for content background-color
        font-family: $font-text-main;
        font-size: $font-size-default;
        line-height: $line-height-default;
        overflow-x: hidden;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-display-main;
        font-size: $font-size-default;
        font-weight: bold;
        line-height: $line-height-default;
        page-break-after: avoid;
        margin: $line-height-default 0 0 0;
    }
    h1 {
        font-size: $font-size-default * $font-size-bigger;
        line-height: 1;
        margin: ($line-height-default) 0;

        @media only screen and (min-width: $break-width-medium) {
            font-size: $font-size-default * $font-size-bigger * 1.5;
        }
    }
    h2 {
        font-size: $font-size-default * ($font-size-bigger * 0.75);
        line-height: 1;
        margin: ($line-height-default * 2) 0 ($line-height-default) 0;
    }
    h3 {}
    h4 {
        font-style: italic;
        font-weight: inherit;
    }
    h5 {
        font-family: $font-text-main;
        font-style: italic;
        font-weight: inherit;
    }
    h6 {
        font-family: $font-text-main;
        font-weight: inherit;
    }
    p {
        margin: 0;
        & + p {
            text-indent: $paragraph-indent;
        }
    }

    @if not $spaced-paras {
        $floated-element-classes: sidenote;
        @each $class in $floated-element-classes {
            p + .#{$class} + p {
                text-indent: $paragraph-indent;

                &.first {
                    text-indent: 0;
                }
            }
        }
    }

    // Lists

    ol, ul {
        list-style-position: outside;

        // We have to use a large left margin to prevent
        // markers from disappearing off the browser window.
        // Lists inherit zero padding from the body element.
        // See https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Consistent_list_indentation
        margin: 0 0 $line-height-default ($paragraph-indent * 2);
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }
    ul ul, ol ol, blockquote ul ul, blockquote ol ol {
        margin-bottom: 0; // See '@if spaced-paras' below
    }
    ol ol {
        list-style-type: lower-alpha;
    }

    // Blockquotes

    blockquote {
        margin: $line-height-default 0;
        padding: 0 $paragraph-indent;
        p:first-of-type {
            text-indent: 0;
        }
        p:last-child, & ol:last-child, & ul:last-child {
            margin-bottom: 0;
        }
    }

    // Definition lists

    dl {
        margin: $line-height-default 0;
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin: 0 0 $line-height-default 0;
    }

    // Horizontal rules used as text dividers (*** in markdown)

    $text-divider-text: "" !default;
    $text-divider-image: "" !default;
    $text-divider-image-width: $line-height-default * 2 !default;

    hr {
        border: 0;
        margin: $line-height-default auto; // Adds space, esp. important for Kindle
        text-align: center; // Necessary for aligning :after content
        // Note: Amazon Kindle will ignore this :after content setting.
        // An hr in Amazon can be hidden by setting hr { margin-left: -200%; }
        // in a Kindle media query. See below for example code.
        // We don't do that here because it is a case-by-case hack.
        &:after {
            content: $text-divider-text;
        }
        @if $text-divider-image != "" {
            margin: 0 auto $line-height-default auto;
            @if not $spaced-paras {
                margin: $line-height-default auto;
            }
            width: $text-divider-image-width;
            &:after {
                background-image: $text-divider-image;
                background-repeat: no-repeat;
                background-size: 100%;
                display: inline-block;
                height: $line-height-default;
                width: 100%;
            }
        }
        & + p {
            text-indent: 0;
        }
    }

    // Superscripts and subscripts

    sup, sub {
        line-height: 100%;
        font-size: 1em * $font-size-smaller;
    }
    sup {
        vertical-align: super;
    }
    sub {
        vertical-align: sub;
    }

    // Links

    a {
        color: $color-links;
    }

    // Bold and italic
    em {
        font-style: italic;
    }
    strong {
        font-weight: bold;
    }

    // Forms

    input[type="text"],
    textarea {
        padding: 0.75em 0.75em;
        font-family: $font-text-secondary;
        font-size: inherit;
        color: inherit;
        border: $rule-thickness solid $color-mid;
        display: block;
        margin: $line-height-default 0;
        width: 100%;
        box-sizing: border-box;
        &[type="submit"] {
            width: auto;
        }
    }
    select {
        padding: 0.75em 0.75em;
        font-family: $font-text-secondary;
        font-size: inherit;
        color: inherit;
        border: $rule-thickness solid $color-mid;
        margin: $line-height-default 0;
        box-sizing: border-box;
        // Inline
        p > &,
        li > &,
        dd > &,
        td > &,
        th > &,
        span > & {
            font-family: inherit;
            line-height: 1;
            margin: 0;
            padding: 0;
        }
    }
    textarea {
        min-height: $line-height-default * 3;
    }

    // Images
    // Also see -figures partial

    // Standalone images
    // (Markdown default puts images on their own line 
    // into paragraphs like this.)
    p img:only-child {
        margin: $line-height-default auto;
        display: block;
    }

    // An option to change the default text-indented paragraphs
    // and close-up lists etc. to have space-between instead.
    @if $spaced-paras {
        p, p + p {
            margin-bottom: $line-height-default;
            text-indent: 0;
        }
        ul ul, ol ol, blockquote ul ul, blockquote ol ol {
            // Disabled, because on most real projects we remove this.
            // margin-top: $line-height-default;
            // margin-bottom: $line-height-default;
        }
    }

}
