# Files and folders that should not normally
# be committed to version control.

_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
node_modules
_tests/log*
_data/secrets*
_app/platforms
_app/plugins
_prince
.DS_Store
.vscode*
.yalc/
yalc.lock

# Installed from @electricbookworks/electric-book-modules
_tools
_webpack
gulpfile.js

# Due to variance in Node and NPM versions of different team members and VM runners,
# the NPM cache is invalidated too frequently to be useful.
# We currently don't lock to specific Node and NPM versions. Currently unproblematic.
package-lock.json

# We don't .gitignore _output/, because we need that folder
# for scripts to work, even if it's empty. Instead, there is
# a .gitignore file in _output that ignores the folder's contents,
# but, by its presence, keeps the folder in the repo.
