# This is the configuration of your book-making machine.
# To store book metadata, rather use the _data folder.

# ------------------------------
# UPDATE THESE SETTINGS ON SETUP
# ------------------------------

# The primary language used in this series. You can set the language for each book individually below at 'defaults'. 
# To understand what language tags to use, read: http://www.w3.org/International/articles/language-tags/ 
# For the registry of tags: http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry 
# Useful lookup tool: http://r12a.github.io/apps/subtags/
language: en

# Are you importing a gem-based theme? By default we do not.
# If you are, remove the # before `theme:` and enter your theme's gem name.
# If you're using GitHub Pages, note that it may not support your theme.
# theme: your-theme-gem-name-here

# Which edition are we creating? You can leave this as `default`.
# This can be used to create different editions of a book using Liquid control-flow tags, 
# e.g. in includes, layouts and file-list
edition: "default"
#edition: ""

# To make absolute links work, e.g. in canonical links in <head>,
# include the url where this site will live when it's live (production).
canonical-url: "http://lawfulliving.co.za"

# If you're using GitHub Pages without a custom domain, make this
# the name of your repo, e.g. /electric-book
# It must start with a slash. Otherwise you can leave it blank.
# See http://downtothewire.io/2015/08/15/configuring-jekyll-for-user-and-project-github-pages/
baseurl: ""

# If you're publishing a website on GitHub Pages
# and want to ensure you're using a compatible setup,
# add username/repository here and uncomment/enable
# gem 'github-pages', group: :jekyll_plugins
# in this project's Gemfile.
repository: ""

# Web navigation source: select either files or nav
# files: navigation will be taken from the web files list in `meta.yml`
# nav: navigation will be taken from the web nav tree in `meta.yml` (allows submenu nesting)
nav-source: nav

# --------------------------------------------
# CHANGE THESE SETTINGS ONLY IF/WHEN NECESSARY
# --------------------------------------------

# By default Jekyll puts generated HTML in a _site folder. 
# For Electric Book purposes, we prefer to call this '_html'
destination: ./_html

# Output different HTML structures based on intent.
# You can change these here, or rather override by loading two config files at the command line, e.g.:
# jekyll build -c _config.yml,_config.epub.yml
# output: "print-pdf"
output: "web"
# output: "epub"
# output: "screen-pdf"
# output: "lightning-source-colour"

# You can switch between sets of images for different purposes.
# For instance, small, colour images for epub and screen-pdf, 
# and high-res greyscale for print-pdf.
# Set your default image set here. This refers to the `images`
# directory in each book's directory, and then to any 
# subdirectories you create per set. The default, `images`,
# assumes you'll use the same images for all outputs.
# (We use an uppercase I in Images for compatibility with Sigil, 
# for epub output, where validation is case-sensitive.)
image-set: "Images"
# image-set: "images/epub"
# image-set: "images/web"
# image-set: "images/print-pdf"
# image-set: "images/screen-pdf"

# Jekyll will ignore these files and folders. 
# Useful for temporarily speeding up processing for particular files
# Once your CSS is stable, exclude `css` here and keep it below under `keep_files`.
exclude: [
# 'css',
# 'book',
'run-linux.sh',
'run-mac.command',
'run-windows.bat',
'Gemfile',
'Gemfile.lock',
# Departments:
# 'book/text/agr*',
'book/text/art*',
'book/text/cor*',
'book/text/def*',
'book/text/eco*',
'book/text/edu*',
'book/text/ene*',
'book/text/env*',
'book/text/fin*',
'book/text/gov*',
'book/text/hea*',
'book/text/hom*',
'book/text/jus*',
'book/text/lab*',
'book/text/liq*',
'book/text/min*',
'book/text/tre*',
'book/text/pub*',
'book/text/dev*',
'book/text/pol*',
'book/text/sci*',
'book/text/soc*',
'book/text/spo*',
'book/text/tel*',
'book/text/tou*',
'book/text/trd*',
'book/text/trn*',
# Categories:
# 'book/text/agr-agr*',
# 'book/text/agr-fis*',
# 'book/text/agr-for*',
# 'book/text/art-gen*',
# 'book/text/cor-gen*',
# 'book/text/def-gen*',
# 'book/text/eco-gen*',
# 'book/text/edu-gen*',
# 'book/text/ene-gen*',
# 'book/text/env-con*',
# 'book/text/env-pol*',
# 'book/text/fin-bui*',
# 'book/text/fin-ins*',
# 'book/text/fin-mrk*',
# 'book/text/fin-prf*',
# 'book/text/gov-gen*',
# 'book/text/hea-fam*',
# 'book/text/hea-hea*',
# 'book/text/hom-gen*',
# 'book/text/jus-cou*',
# 'book/text/lab-gen*',
# 'book/text/liq-nat*',
# 'book/text/liq-prv*',
# 'book/text/min-gen*',
# 'book/text/tre-gen*',
# 'book/text/pub-gen*',
# 'book/text/dev-gen*',
# 'book/text/pol-gen*',
# 'book/text/sci-gen*',
# 'book/text/soc-gen*',
# 'book/text/spo-gen*',
# 'book/text/tel-gen*',
# 'book/text/tou-gen*',
# 'book/text/trd-gen*',
# 'book/text/trn-avi*',
# 'book/text/trn-sea*',
# 'book/text/trn-rai*',
# 'book/text/trn-roa*',
# 'book/text/trn-saf*',
# Files:
# 'book/text/agr-agr-animal-diseases.md',
# 'book/text/agr-agr-animal-identification.md',
# 'book/text/agr-agr-animal-improvement.md',
# 'book/text/agr-agr-animal-protection.md',
# 'book/text/agr-agr-animal-vets.md',
# 'book/text/agr-agr-fencing.md',
# 'book/text/agr-agr-fertilizers-feeds-remedies.md',
# 'book/text/agr-agr-game-theft.md',
# 'book/text/agr-agr-gmo-genetically-modified-organisms.md',
# 'book/text/agr-agr-performing-animals.md',
# 'book/text/agr-agr-perishable-products-export.md',
# 'book/text/agr-agr-pests.md',
# 'book/text/agr-agr-plant-improvement.md',
# 'book/text/agr-agr-produce-standards.md',
# 'book/text/agr-agr-spca.md',
# 'book/text/agr-agr-stock-theft.md',
# 'book/text/agr-agr-sugar.md',
# 'book/text/agr-agr-middleman.md',
# 'book/text/agr-fis-marine-resources.md',
# 'book/text/agr-fis-seabirds-seals.md',
# 'book/text/agr-for-forests.md',
# 'book/text/agr-for-veld-forest-fires.md',
# 'book/text/art-gen-films-publications.md',
# 'book/text/art-gen-imprints.md',
# 'book/text/art-gen-national-archives.md',
# 'book/text/art-gen-national-heritage-resources.md',
# 'book/text/art-gen-publication-archives.md',
# 'book/text/art-gen-declared-heritage-collections.md',
# 'book/text/art-gen-witchcraft.md',
# 'book/text/cor-gen-correctional-services-prisons.md',
# 'book/text/def-gen-conventional-arms-control.md',
# 'book/text/def-gen-fire-brigade.md',
# 'book/text/def-gen-weapons-mass-destruction.md',
# 'book/text/eco-gen-business.md',
# 'book/text/eco-gen-close-corporations.md',
# 'book/text/eco-gen-companies.md',
# 'book/text/eco-gen-cooperatives.md',
# 'book/text/eco-gen-convention-countries.md',
# 'book/text/eco-gen-debt-collectors.md',
# 'book/text/eco-gen-insolvency.md',
# 'book/text/eco-gen-lotteries-sports-pools.md',
# 'book/text/eco-gen-nedlac-national-economic-development-labour-council.md',
# 'book/text/eco-gen-small-enterprise-development.md',
# 'book/text/eco-gen-small-enterprise-development-schedule.md',
# 'book/text/edu-gen-black-education-training.md',
# 'book/text/edu-gen-colleges-fet-tvet.md',
# 'book/text/edu-gen-educators.md',
# 'book/text/edu-gen-private-schools.md',
# 'book/text/edu-gen-recalling-certificates-qualification.md',
# 'book/text/edu-gen-schools.md',
# 'book/text/edu-gen-council-educators.md',
# 'book/text/ene-gen-nuclear-energy.md',
# 'book/text/ene-gen-nuclear-regulator.md',
# 'book/text/ene-gen-petrol-products.md',
# 'book/text/ene-gen-central-energy-fund.md',
# 'book/text/env-con-biodiversity-management.md',
# 'book/text/env-con-coastal-management.md',
# 'book/text/env-con-conservation.md',
# 'book/text/env-con-conservation-resources.md',
# 'book/text/env-con-disaster-management.md',
# 'book/text/env-con-national-environment-management-acts.md',
# 'book/text/env-con-protected-areas.md',
# 'book/text/env-con-water.md',
# 'book/text/env-con-water-services.md',
# 'book/text/env-pol-air-quality.md',
# 'book/text/env-pol-hazardous-substances.md',
# 'book/text/env-pol-light-pollution.md',
# 'book/text/env-pol-marine-pollution-ships.md',
# 'book/text/env-pol-waste-management.md',
# 'book/text/fin-bui-banks.md',
# 'book/text/fin-bui-cooperative-banks.md',
# 'book/text/fin-bui-mutual-banks.md',
# 'book/text/fin-ins-long-term-insurance.md',
# 'book/text/fin-ins-medical-aid-schemes.md',
# 'book/text/fin-ins-pension-funds.md',
# 'book/text/fin-ins-short-term-insurance.md',
# 'book/text/fin-mrk-collective-investment-schemes.md',
# 'book/text/fin-mrk-credit-rating-services.md',
# 'book/text/fin-mrk-fica-financial-intelligence-centre-act.md',
# 'book/text/fin-mrk-financial-markets.md',
# 'book/text/fin-mrk-inspection-financial-institutions.md',
# 'book/text/fin-mrk-national-credit-act.md',
# 'book/text/fin-mrk-financial-services-board.md',
# 'book/text/fin-prf-auditors.md',
# 'book/text/gov-gen-access-to-information.md',
# 'book/text/gov-gen-corruption.md',
# 'book/text/gov-gen-diplomatic-immunity.md',
# 'book/text/gov-gen-elections.md',
# 'book/text/gov-gen-elections-voting.md',
# 'book/text/gov-gen-municipal-systems-local-government.md',
# 'book/text/gov-gen-public-protector.md',
# 'book/text/gov-gen-common-customs-area.md',
# 'book/text/gov-gen-electoral-commission.md',
# 'book/text/gov-gen-human-rights-commission.md',
# 'book/text/hea-fam-births-deaths.md',
# 'book/text/hea-fam-children.md',
# 'book/text/hea-fam-child-justice.md',
# 'book/text/hea-fam-divorce.md',
# 'book/text/hea-fam-domestic-violence.md',
# 'book/text/hea-fam-maintenance.md',
# 'book/text/hea-fam-marriage.md',
# 'book/text/hea-fam-sterilisation.md',
# 'book/text/hea-fam-termination-pregancy-abortion.md',
# 'book/text/hea-fam-trafficking-people.md',
# 'book/text/hea-fam-wills.md',
# 'book/text/hea-hea-allied-health-profession.md',
# 'book/text/hea-hea-dental-technicians.md',
# 'book/text/hea-hea-food-cosmetics-disinfectants.md',
# 'book/text/hea-hea-food-cosmetics-disinfectants-regulations.md',
# 'book/text/hea-hea-health-profession-regulation.md',
# 'book/text/hea-hea-meat-safety.md',
# 'book/text/hea-hea-medicines.md',
# 'book/text/hea-hea-mental-health.md',
# 'book/text/hea-hea-national-health.md',
# 'book/text/hea-hea-nursing.md',
# 'book/text/hea-hea-pharmacists.md',
# 'book/text/hea-hea-red-cross.md',
# 'book/text/hea-hea-tobacco.md',
# 'book/text/hea-hea-traditional-health-practitioners.md',
# 'book/text/hom-gen-citizenship.md',
# 'book/text/hom-gen-identity-documents.md',
# 'book/text/hom-gen-immigration.md',
# 'book/text/hom-gen-referendums.md',
# 'book/text/hom-gen-refugees.md',
# 'book/text/hom-gen-statistics.md',
# 'book/text/jus-cou-affidavits.md',
# 'book/text/jus-cou-arbitration.md',
# 'book/text/jus-cou-attorneys.md',
# 'book/text/jus-cou-commissions-enquiry.md',
# 'book/text/jus-cou-evidence-foreign-courts.md',
# 'book/text/jus-cou-evidence-civil-proceedings.md',
# 'book/text/jus-cou-judicial-services-commission.md',
# 'book/text/jus-cou-magistrates-courts.md',
# 'book/text/jus-cou-national-prosecuting-authority.md',
# 'book/text/jus-cou-probation.md',
# 'book/text/jus-cou-criminal-trials-procedure.md',
# 'book/text/jus-cou-prohibited-weapons.md',
# 'book/text/jus-cou-right-appearance.md',
# 'book/text/jus-cou-sheriffs.md',
# 'book/text/jus-cou-small-claims-court.md',
# 'book/text/jus-cou-superior-courts.md',
# 'book/text/jus-cou-vexatious-proceedings.md',
# 'book/text/jus-cou-witness-protection.md',
# 'book/text/lab-gen-basic-conditions-employment.md',
# 'book/text/lab-gen-compensation-injuries-disease-death.md',
# 'book/text/lab-gen-equal-opportunities-affirmative-action.md',
# 'book/text/lab-gen-employment-services.md',
# 'book/text/lab-gen-occupational-health-safety.md',
# 'book/text/lab-gen-skills-development.md',
# 'book/text/lab-gen-unemployment-insurance.md',
# 'book/text/liq-nat-national-liquor-act.md',
# 'book/text/liq-nat-liquor-production.md',
# 'book/text/liq-prv-liquor-limpopo-north-west.md',
# 'book/text/liq-prv-liquor-eastern-cape.md',
# 'book/text/liq-prv-liquor-gauteng.md',
# 'book/text/liq-prv-liquor-mpumalanga.md',
# 'book/text/liq-prv-liquor-north-cape.md',
# 'book/text/liq-prv-liquor-free-state.md',
# 'book/text/liq-prv-liquor-kwazulu-natal.md',
# 'book/text/liq-prv-liquor-western-cape.md',
# 'book/text/min-gen-diamonds.md',
# 'book/text/min-gen-explosives.md',
# 'book/text/min-gen-mine-safety.md',
# 'book/text/min-gen-minerals-petroleum.md',
# 'book/text/min-gen-occupational-diseases-mines.md',
# 'book/text/min-gen-precious-metals.md',
# 'book/text/tre-gen-counterfeit-currency.md',
# 'book/text/tre-gen-estate-duty.md',
# 'book/text/tre-gen-income-tax-collection-acts.md',
# 'book/text/tre-gen-reserve-bank.md',
# 'book/text/tre-gen-sars.md',
# 'book/text/tre-gen-tax-act-schedule.md',
# 'book/text/tre-gen-vat.md',
# 'book/text/tre-gen-fiscal-commission.md',
# 'book/text/pub-gen-municipal-financial-management.md',
# 'book/text/pub-gen-municipal-rates-taxes.md',
# 'book/text/pub-gen-public-finance-management.md',
# 'book/text/dev-gen-architects.md',
# 'book/text/dev-gen-communal-property-associations.md',
# 'book/text/dev-gen-estate-agents.md',
# 'book/text/dev-gen-evictions.md',
# 'book/text/dev-gen-expropriation.md',
# 'book/text/dev-gen-geomatics-land-technical-surveyors.md',
# 'book/text/dev-gen-home-building.md',
# 'book/text/dev-gen-home-loans.md',
# 'book/text/dev-gen-labour-tenants.md',
# 'book/text/dev-gen-land-demarcation.md',
# 'book/text/dev-gen-land-restitution.md',
# 'book/text/dev-gen-national-building-regulations.md',
# 'book/text/dev-gen-national-building-commencement-authorisation.md',
# 'book/text/dev-gen-property-valuers.md',
# 'book/text/dev-gen-rental-housing.md',
# 'book/text/dev-gen-sale-land.md',
# 'book/text/dev-gen-share-block-ownership.md',
# 'book/text/dev-gen-spatial-planning-land-use-management.md',
# 'book/text/dev-gen-time-sharing.md',
# 'book/text/dev-gen-town-planners.md',
# 'book/text/dev-gen-trespass.md',
# 'book/text/pol-gen-brothels.md',
# 'book/text/pol-gen-cable-theft.md',
# 'book/text/pol-gen-common-law-offences.md',
# 'book/text/pol-gen-dangerous-weapons.md',
# 'book/text/pol-gen-drugs-trafficking.md',
# 'book/text/pol-gen-firearms.md',
# 'book/text/pol-gen-harassment.md',
# 'book/text/pol-gen-intelligence-services.md',
# 'book/text/pol-gen-intimidation.md',
# 'book/text/pol-gen-organised-crime.md',
# 'book/text/pol-gen-public-gatherings.md',
# 'book/text/pol-gen-sexual-offences.md',
# 'book/text/pol-gen-sa-police-service.md',
# 'book/text/pol-gen-special-investigation-units.md',
# 'book/text/pol-gen-teargas.md',
# 'book/text/pol-gen-private-security-industry.md',
# 'book/text/pol-gen-torture.md',
# 'book/text/pol-gen-witness-protection.md',
# 'book/text/sci-gen-natural-scientists.md',
# 'book/text/sci-gen-sanas-national-accreditation-system.md',
# 'book/text/sci-gen-space.md',
# 'book/text/sci-gen-weather-service.md',
# 'book/text/soc-gen-fundraising.md',
# 'book/text/soc-gen-gender-equality.md',
# 'book/text/soc-gen-older-persons.md',
# 'book/text/soc-gen-social-workers.md',
# 'book/text/soc-gen-social-security-agency.md',
# 'book/text/spo-gen-broadcasting.md',
# 'book/text/spo-gen-events-safety.md',
# 'book/text/tel-gen-electronic-communication.md',
# 'book/text/tel-gen-electronic-communications-transactions.md',
# 'book/text/tel-gen-telecommunications.md',
# 'book/text/tel-gen-tv-licences.md',
# 'book/text/tel-gen-post-office.md',
# 'book/text/tou-gen-tourism.md',
# 'book/text/trd-gen-competition.md',
# 'book/text/trd-gen-compulsory-specifications.md',
# 'book/text/trd-gen-consumer-protection.md',
# 'book/text/trd-gen-copyright.md',
# 'book/text/trd-gen-counterfeit-goods.md',
# 'book/text/trd-gen-designs.md',
# 'book/text/trd-gen-engineers.md',
# 'book/text/trd-gen-gambling.md',
# 'book/text/trd-gen-heraldry.md',
# 'book/text/trd-gen-landscape-architects.md',
# 'book/text/trd-gen-merchandise-marks.md',
# 'book/text/trd-gen-non-profit-organisations.md',
# 'book/text/trd-gen-patents.md',
# 'book/text/trd-gen-performers-protection.md',
# 'book/text/trd-gen-plant-breeders-rights.md',
# 'book/text/trd-gen-project-construction-managers.md',
# 'book/text/trd-gen-quantity-surveyors.md',
# 'book/text/trd-gen-second-hand-goods.md',
# 'book/text/trd-gen-standards.md',
# 'book/text/trd-gen-trademarks.md',
# 'book/text/trd-gen-trade-metrology.md',
# 'book/text/trn-saf-access-public-premises-vehicles.md',
# 'book/text/trn-avi-air-services-licensing.md',
# 'book/text/trn-avi-aviation.md',
# 'book/text/trn-avi-international-air-services.md',
# 'book/text/trn-sea-marine-traffic.md',
# 'book/text/trn-sea-merchant-shipping.md',
# 'book/text/trn-sea-national-ports.md',
# 'book/text/trn-sea-search-rescue.md',
# 'book/text/trn-rai-railway-safety.md',
# 'book/text/trn-roa-cross-border-transport.md',
# 'book/text/trn-roa-national-land-transport.md',
# 'book/text/trn-roa-national-road-traffic.md',
# 'book/text/trn-roa-road-traffic-management-corporation.md',
# 'book/text/trn-roa-road-transport.md',
# 'book/text/trn-roa-roadside-advertising-construction.md',
# 'book/text/trn-roa-sanral-national-roads-agency.md',
]

# Can be useful to stop Jekyll overwriting files in _site.
# E.g. generate CSS once, then exclude above but keep here to make content regeneration faster.
keep_files:
# - css

# ----------------------------
# DO NOT CHANGE THESE SETTINGS
# ----------------------------

# Version of this Electric Book template
version: "0.5.0"

# Leave this unchanged as http://localhost:4000 unless you really know what you're doing here. This is the URL that Jekyll will run at by default locally.
url: http://localhost:4000

# Leave this unchanged as kramdown unless you really know how and why to change your markdown processor
markdown: kramdown

# kramdown options (see http://kramdown.gettalong.org/options.html)
# auto_id_stripping remove formatting from headings before generating IDs
# which keeps your IDs neat and tidy, and links persistent even if you format headings
kramdown:
  auto_id_stripping: true

# Leave this unchanged as none. This way, your book's chapters will all generate correctly named in one folder.
# This is really useful for grabbing all your HTML files at once for including in epubs or sending to PrinceXML.
permalink: none

# Leave this unchanged. It tells Jekyll where to find Sass partials
# (see http://jekyllrb.com/docs/assets/#sassscss)
# and whether to compress stylesheets
sass:
  sass_dir: _sass
  style: compressed

# Set default values here for all documents/pages in this publication. 
# (For technical details, see http://jekyllrb.com/docs/configuration/#front-matter-defaults).
# Store only site configurations here, and book metadata (title, author, ISBNs) in _data/meta.yml
defaults: 
  -
    scope: # Sets default page frontmatter for all files in this series (an empty string "" for path means all files).
      path: ""
    values:
      layout: "default"
      style: "chapter"
      stylesheet-print-pdf: "print-pdf.css"
      stylesheet-screen-pdf: "screen-pdf.css"
      stylesheet-web: "web.css"
      stylesheet-epub: "epub.css"
