// Add Sass variables here that override the template's
// variables. This is also a good place to set new
// Sass variables if you need them for your theme.
// The template variables you can override are in
// _sass/template/*.scss for each output format.
// ----------------------------------------------

// Here we use a color defined in the _sass/theme/colors.scss palette
$color-accent: $example-blue !default;

// Remove or change the font names here for your theme.
$font-text-main: "Spectral", "Apple Garamond", "Baskerville", "Cambria", "Droid Serif", "Times","Source Serif Pro", serif !default;
$font-display-secondary: "Spectral", "Apple Garamond", "Baskerville", "Cambria", "Droid Serif", "Times","Source Serif Pro", serif !default;
