{% comment %} Include bundle.js unless we're making an epub and its JS is off. {% endcomment %}
{% comment %} Since we pre-process HTML with Cheerio in XML Mode
in epub and PDF outputs, we must include a space between the script tags,
otherwise Cheerio will make the tag self-closing, which will break
in browsers that expect a closing tag. {% endcomment %}

{% comment %} Include anything from end-elements.html. {% endcomment %}
{% include end-elements.html %}

{% unless site.output == "epub" and site.data.settings.epub.javascript.disabled == true %}
    <script data-script-name="bundle" src="{{ path-to-root-directory }}assets/js/bundle.js"> </script>
{% endunless %}

{% comment %} Add search JS on web and app search pages. {% endcomment %}
{% if site.output == "web" or site.output == "app" %}
    {% if is-project-search or is-book-search %}
        <script src="{{ path-to-root-directory }}assets/js/search-engine.js"></script>
        <script src="{{ path-to-root-directory }}assets/js/search-notifications.js"></script>
    {% endif %}
{% endif %}

        </div><!--.wrapper-->
    </body>
</html>
