{% comment %}
After this comment block, include any links and scripts
that you want just before the </body> tag in your HTML.
Use Liquid logic tags to include only in certain outputs, e.g.
`if site.output == "web"` for scripts like search.js.
{% endcomment %}

{% comment %}
These scripts provide client-side search. See:
http://elasticlunr.com/
https://markjs.io/
{% endcomment %}
{% if site.output == "web" %}
<script src="{{ site.baseurl }}/assets/js/bundle.js"></script>
    {% if is-series-search or is-book-search %}
    <script src="{{ site.baseurl }}/assets/js/bundle-search.js"></script>
    {% endif %}
{% endif %}

{% comment %}
This script gives every heading a title attribute.
This is useful to Prince, which can use title attributes for running heads.
By default, we only load it for PDF outputs.
{% endcomment %}
{% if site.output == "print-pdf" or site.output == "screen-pdf" %}
<script src="{{ path-to-root-directory }}assets/js/heading-titles.js"></script>
{% endif %}
