{% comment %} Output a list of files for a work,
designed to be used in files-listed.html as a recursive
loop through translations and variants. {% endcomment %}

{% comment %} Unless passed an array by this include including itself,
create an array to store files list in.
One includes full file paths, the other only filenames. {% endcomment %}
{% if include.passed-filenames-listed-array %}
    {% assign filenames-listed-array = include.passed-filenames-listed-array %}
{% else %}
    {% assign filenames-listed-array = "" | split: "" %}
{% endif %}

{% if include.passed-files-listed-by-work-array %}
    {% assign files-listed-by-work-array = include.passed-files-listed-by-work-array %}
{% else %}
    {% assign files-listed-by-work-array = "" | split: "" %}
{% endif %}

{% comment %} Fallback to default "book" directory.
Note: include.directory should be a string of the book folder name. {% endcomment %}
{% if include.directory %}
    {% assign files-listed-work-directory = include.directory %}
{% else %}
    {% assign files-listed-work-directory = "book" %}
{% endif %}
{% assign files-listed-work = site.data.works[files-listed-work-directory] %}

{% comment %} If this is a translation, we need the parent work name.
Otherwise, we must make sure there isn't one. {% endcomment %}
{% if include.parent-work-directory %}
    {% assign files-listed-parent-work-directory = include.parent-work-directory %}
    {% assign files-listed-work = site.data.works[files-listed-parent-work-directory][include.directory] %}
{% else %}
    {% assign files-listed-parent-work-directory = nil %}
{% endif %}

{% comment %} Get the active variant,
and fall back to 'default'. {% endcomment %}
{% if site.data.settings.active-variant and site.data.settings.active-variant != "" %}
    {% assign current-variant = site.data.settings.active-variant %}
{% else %}
    {% assign current-variant = 'default' %}
{% endif %}

{% comment %} We only want to look into work or translation folders,
so to skip looping over YAML files (e.g. default.yml or myvariant.yml),
we check that the folder includes a default key, i.e. a default.yml.
{% endcomment %}

{% if files-listed-work.default %}

    {% comment %} Get the path to relevant markdown files. {% endcomment %}
    {% capture markdown-files-path %}{{ files-listed-work-directory }}{% endcapture %}
    {% if files-listed-parent-work-directory %}
        {% capture markdown-files-path %}{{ files-listed-parent-work-directory }}/{{ files-listed-work-directory }}{% endcapture %}
    {% endif %}

    {% comment %} Check if we need to inherit a files list.
    - If variant has no files list, inherit from default.
    - If app has no file list, inherits from web.
    - If screen-pdf has no file list, inherit from print-pdf.

    To do this, we want to know which variant and which
    output format to take our files list from. {% endcomment %}

    {% comment %} If the current variant and its output format
    has a files list, stick with it. Otherwise, provide fallbacks.
    {% endcomment %}
    {% if files-listed-work[current-variant].products[site.output].files and files-listed-work[current-variant].products[site.output].files != "" %}
        {% capture site-output-for-files %}{{ site.output }}{% endcapture %}
        {% capture variant-for-files %}{{ current-variant }}{% endcapture %}

    {% comment %} If the variant has no files, use the default. {% endcomment %}
    {% elsif files-listed-work.default.products[site.output].files and files-listed-work.default.products[site.output].files != "" %}
        {% capture variant-for-files %}default{% endcapture %}

        {% comment %} If the output format for the default has no files,
        try fallbacks for app and screen-pdf outputs. {% endcomment %}
        {% if files-listed-work.default.products[site.output].files and files-listed-work.default.products[site.output].files != "" %}
            {% capture site-output-for-files %}{{ site.output }}{% endcapture %}
        {% else %}
            {% if site.output == "app" %}
                {% capture site-output-for-files %}web{% endcapture %}
            {% elsif site.output == "screen-pdf" %}
                {% capture site-output-for-files %}print-pdf{% endcapture %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% comment %} If there is a files list there, use it.
    Otherwise, just use the markdown/HTML files
    that exist in the book folder. {% endcomment %}

    {% comment %} Reset this variable. {% endcomment %}
    {% capture files-listed-path-to-file %}{% endcapture %}

    {% comment %} This looks for the files list. {% endcomment %}
    {% if files-listed-work[variant-for-files].products[site-output-for-files].files %}

        {% for file in files-listed-work[variant-for-files].products[site-output-for-files].files %}

            {% for file-name in file %}
                {% if file-name[0] %}
                    {% capture files-listed-path-to-file %}/{{ markdown-files-path }}/{{ file-name[0] }}.html{% endcapture %}

                    {% assign filenames-listed-array = filenames-listed-array | push: file-name[0] %}
                {% else %}
                    {% capture files-listed-path-to-file %}/{{ markdown-files-path }}/{{ file-name }}.html{% endcapture %}

                    {% assign filenames-listed-array = filenames-listed-array | push: file-name %}
                {% endif %}

                {% assign files-listed-by-work-array = files-listed-by-work-array | push: files-listed-path-to-file %}
            {% endfor %}

        {% endfor %}

    {% comment %} And this looks at raw files in the book folder.
    We ensure that the index.html, if any, file comes first. {% endcomment %}
    {% else %}

        {% capture files-listed-work-with-slashes %}/{{ files-listed-work-directory }}/{% endcapture %}

        {% assign html-files-in-book = site.html_pages | where_exp: "page", "page.dir == files-listed-work-with-slashes" %}

        {% capture index-file-url %}{{ files-listed-work-with-slashes }}{% endcapture %}

        {% for file in html-files-in-book %}
            {% if file.url == index-file-url %}
                {% capture files-listed-path-to-file %}{{ files-listed-work-with-slashes }}index.html{% endcapture %}
                {% assign files-listed-by-work-array = files-listed-by-work-array | push: files-listed-path-to-file %}
                {% assign filenames-listed-array = filenames-listed-array | push: "index" %}
            {% break %}
            {% endif %}
        {% endfor %}

        {% for file in html-files-in-book %}
            {% if file.url contains ".html" and file.url != index-file-url %}
                {% capture files-listed-path-to-file %}{{ file.url }}{% endcapture %}
                {% assign files-listed-by-work-array = files-listed-by-work-array | push: files-listed-path-to-file %}

                {% capture html-file-in-book-basename %}{{ file.name | split: "." | first }}{% endcapture %}

                {% assign filenames-listed-array = filenames-listed-array | push: html-file-in-book-basename %}
            {% endif %}
        {% endfor %}

    {% endif %}

    {% comment %} Now do the same for translations. {% endcomment %}

    {% comment %} If this is not a translation,
    there is no parent-work-directory yet, and we need one
    for translation paths. {% endcomment %}
    {% unless files-listed-parent-work-directory %}
        {% capture files-listed-parent-work-directory %}{{ files-listed-work-directory }}{% endcapture %}

        {% for files-listed-translation in files-listed-work %}

            {% capture files-listed-translation-directory %}{{ files-listed-translation[0] }}{% endcapture %}

            {% include files-listed-by-work.html
                directory=files-listed-translation-directory
                parent-work-directory=files-listed-parent-work-directory
                passed-files-listed-by-work-array=files-listed-by-work-array
                passed-filenames-listed-array=filenames-listed-array
                output="array" %}

        {% endfor %}
    {% endunless %}

{% endif %}

{% comment %} Shall we output the file list here,
or just provide an array? By default, output a list.{% endcomment %}

{% unless include.output == "array" %}
    {% for file in files-listed-by-work-array %}
        {{ file }},
    {% endfor %}
{% endunless %}
