{% include metadata %}

    <div id="footer">
        <div class="footer-content">

            {% if series-footer and series-footer != "" %}
                <p>
                    {{ series-footer | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}
                </p>
            {% endif %}

            {% if web-footer and web-footer != "" %}
                <p>
                    {{ web-footer | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}
                </p>
            {% endif %}

        </div><!--.footer-content-->
    </div><!--#footer-->
