{% include get-metadata %}
{% if site.output == 'epub' %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ language }}">
<head>
    <title>
    {% if title %}
    {{ title }}{% if page.title %}: {{ page.title }}{% endif %}
    {% else %}
    {{ series-name }}{% if page.title %}: {{ page.title }}{% endif %}
    {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../Styles/{{ page.stylesheet-epub }}" />
    
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
        <meta name="DC.Title" content="{{ title }}" />
        <meta name="DC.Language" content="{{ language }}" />
        <meta name="DC.Creator" content="{{ creator }}" />
        <meta name="DC.Publisher" content="{{ publisher }}" />
        <meta name="DC.Date" content="{{ date }}" />
        <meta name="DC.Identifier" content="{{ epub-identifier }}" scheme="ISBN" />
        <meta name="DC.Relation" content="{{ print-pdf-identifier }}" />
        <meta name="DC.Description" CONTENT="{{ description }}" />

</head>
<body class="{{ directory }} {{ page.style }}">

{% elsif site.output == 'screen-pdf' %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ language }}" xml:lang="{{ language }}">
<head>
    <title>
    {% if title %}
    {{ title }}{% if page.title %}: {{ page.title }}{% endif %}
    {% else %}
    {{ series-name }}{% if page.title %}: {{ page.title }}{% endif %}
    {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="print" href="../_themes/{{ site.theme }}/css/{{ page.stylesheet-screen-pdf }}" />
</head>
<body class="{{ directory }} {{ page.style }}">


{% elsif site.output == 'print-pdf' %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ language }}" xml:lang="{{ language }}">
<head>
    <title>
    {% if title %}
    {{ title }}{% if page.title %}: {{ page.title }}{% endif %}
    {% else %}
    {{ series-name }}{% if page.title %}: {{ page.title }}{% endif %}
    {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="print" href="../_themes/{{ site.theme }}/css/{{ page.stylesheet-print-pdf }}" />

    <!-- Google Analytics, runs unless this is running through PrinceXML -->
    <script>
        if (typeof Prince  === "undefined") {
            <!--Paste any Google Analytics code here. The surrounding if statement stops the script slowing down PrinceXML-->
        }
    </script>

</head>
<!--ontouchstart="" onmouseover="" required for iOS devices-->
<body class="{{ directory }} {{ page.style }}" ontouchstart="" onmouseover="">


{% else %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ language }}" xml:lang="{{ language }}">
<head>
    <title>
    {% if title %}
    {{ title }}{% if page.title %}: {{ page.title }}{% endif %}
    {% else %}
    {{ series-name }}{% if page.title %}: {{ page.title }}{% endif %}
    {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/_themes/{{ site.theme }}/css/{{ page.stylesheet-web }}" />
    <link rel="stylesheet" type="text/css" media="print" href="../_themes/{{ site.theme }}/css/{{ page.stylesheet-screen-pdf }}" />

    <!-- Google Analytics, runs unless this is running through PrinceXML -->
    <script>
        if (typeof Prince  === "undefined") {
            <!--Paste any Google Analytics code here. The surrounding if statement stops the script slowing down PrinceXML-->
        }
    </script>

</head>
<!--ontouchstart="" onmouseover="" required for iOS devices-->
<body class="{{ directory }} {{ page.style }}" ontouchstart="" onmouseover="">

{% endif %}
