{% include metadata %}

{% if site.output == "print-pdf" %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ language }}" xml:lang="{{ language }}"{% if site.data.locales[language].direction %} dir="{{ site.data.locales[language].direction }}"{% endif %}>
<head>
    <title>
    {% if title %}
    {{ title }}{% if page.title %}: {{ page.title }}{% endif %}
    {% else %}
    {{ project-name }}{% if page.title %}: {{ page.title }}{% endif %}
    {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% comment %}If this is a translation with its own styles,
    load the parent styles first, then translation styles override them.{% endcomment %}
    {% if is-translation and translation-styles-exist %}
        <link rel="stylesheet" type="text/css" href="{{ path-to-parent-styles-directory }}/{{ print-pdf-stylesheet }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ path-to-styles-directory }}/{{ print-pdf-stylesheet }}" />

    {% comment %} Note: MathJax script not included for PDF output.
    MathJax rendered in PDF via gulp and mathjax-node-page. {% endcomment %}

    {% include head-elements %}

</head>
<body class="{{ book-directory }} {{ page.style }}{% if is-homepage == true %} home{% endif %}"{% if page.header %} data-header="{{ page.header }}"{% else %} data-header="{{ page.title }}"{% endif %}{% if page.header-left %} data-header-left="{{ page.header-left }}"{% else %} data-header-left="{{ page.title }}"{% endif %}{% if page.header-right %} data-header-right="{{ page.header-right }}"{% else %} data-header-right="{{ page.title }}"{% endif %} data-page-info="{{ title | truncate: 20 }}: {{ page.title | truncate: 20 }} • {{ page.url | split: "/" | last | split: "." | first }} • {{ site.time | date: "%-d %b %Y, %H:%M" }}">
<div id="wrapper">


{% elsif site.output == "screen-pdf" %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ language }}" xml:lang="{{ language }}"{% if site.data.locales[language].direction %} dir="{{ site.data.locales[language].direction }}"{% endif %}>
<head>
    <title>
    {% if title %}
    {{ title }}{% if page.title %}: {{ page.title }}{% endif %}
    {% else %}
    {{ project-name }}{% if page.title %}: {{ page.title }}{% endif %}
    {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% comment %}If this is a translation with its own styles,
    load the parent styles first, then translation styles override them.{% endcomment %}
    {% if is-translation and translation-styles-exist %}
        <link rel="stylesheet" type="text/css" href="{{ path-to-parent-styles-directory }}/{{ screen-pdf-stylesheet }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ path-to-styles-directory }}/{{ screen-pdf-stylesheet }}" />

    {% comment %} Note: MathJax script not included for PDF output.
    MathJax rendered in PDF via gulp and mathjax-node-page. {% endcomment %}

    {% include head-elements %}

</head>
<body class="{{ book-directory }} {{ page.style }}{% if is-homepage == true %} home{% endif %}"{% if page.header %} data-header="{{ page.header }}"{% else %} data-header="{{ page.title }}"{% endif %}{% if page.header-left %} data-header-left="{{ page.header-left }}"{% else %} data-header-left="{{ page.title }}"{% endif %}{% if page.header-right %} data-header-right="{{ page.header-right }}"{% else %} data-header-right="{{ page.title }}"{% endif %}>
<div id="wrapper">


{% elsif site.output == "epub" %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="{{ language }}"{% if site.data.locales[language].direction %} dir="{{ site.data.locales[language].direction }}"{% endif %}>
<head>
    <title>
    {% if title %}
    {{ title }}{% if page.title %}: {{ page.title }}{% endif %}
    {% else %}
    {{ project-name }}{% if page.title %}: {{ page.title }}{% endif %}
    {% endif %}
    </title>

    {% comment %}This full meta tag is necessary for Kindle's character encoding to work.{% endcomment %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    {% comment %}If this is a translation with its own styles,
    load the parent styles first, then translation styles override them.{% endcomment %}
    {% if is-translation and translation-styles-exist %}
        <link rel="stylesheet" type="text/css" href="{{ path-to-parent-styles-directory }}/{{ epub-stylesheet }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ path-to-styles-directory }}/{{ epub-stylesheet }}" />
    
    {% comment %}Metadata defined in page frontmatter overrides
    project metadata, which is the default from meta.yml.{% endcomment %}
    {% if page.title %}{% capture title %}{{ page.title }}{% endcapture %}{% endif %}
    {% if page.language %}{% capture language %}{{ page.language }}{% endcapture %}{% endif %}
    {% if page.creator %}{% capture creator %}{{ page.creator }}{% endcapture %}{% endif %}
    {% if page.publisher %}{% capture publisher %}{{ page.publisher }}{% endcapture %}{% endif %}
    {% if page.date %}{% capture date %}{{ page.date }}{% endcapture %}{% endif %}
    {% if page.identifier %}{% capture identifier %}{{ page.identifier }}{% endcapture %}{% endif %}
    {% if page.relation %}{% capture relation %}{{ page.relation }}{% endcapture %}{% endif %}
    {% if page.description %}{% capture description %}{{ page.description }}{% endcapture %}{% endif %}

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
        <meta name="DC.Title" content="{{ title }}" />
        <meta name="DC.Language" content="{{ language }}" />
        <meta name="DC.Creator" content="{{ creator }}" />
        <meta name="DC.Publisher" content="{{ publisher }}" />
        <meta name="DC.Date" content="{{ date }}" />
        <meta name="DC.Identifier" content="{{ epub-identifier }}" />
        <meta name="DC.Relation" content="{{ print-pdf-identifier }}" />
        <meta name="DC.Description" content="{{ description }}" />

    {% if site.mathjax-enabled == true %}
        {% include mathjax-config %}
    {% endif %}

    {% include head-elements %}

</head>
<body class="{{ book-directory }} {{ page.style }}{% if is-homepage == true %} home{% endif %}">
<div id="wrapper">


{% elsif site.output == "app" %}
<html lang="{{ language }}"{% if site.data.locales[language].direction %} dir="{{ site.data.locales[language].direction }}"{% endif %}>
    <head>

    <title>
    {% if title %}
    {{ title }}{% if page.title %}: {{ page.title }}{% endif %}
    {% else %}
    {{ project-name }}{% if page.title %}: {{ page.title }}{% endif %}
    {% endif %}
    </title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=yes, initial-scale=1, width=device-width">

    {% comment %}
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    {% endcomment %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com https://fonts.googleapis.com https://www.youtube.com http://player.vimeo.com; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;{% if site.mathjax-enabled == true %} script-src 'self' 'unsafe-inline' 'unsafe-eval';{% endif %}">

    {% comment %}If we're not in a book subdirectory, load the first book's stylesheets.
    Otherwise, load the styles for this book. {% endcomment %}
    {% if is-homepage == true or is-project-search == true or page.collection == "docs" %}
    {% for book in site.data.meta.works %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ path-to-root-directory }}{{ book.directory }}/styles/{{ app-stylesheet }}" />
        {% break %}
    {% endfor %}
    {% else %}

    {% comment %}If this is a translation with its own styles,
    load the parent styles first, then translation styles override them.{% endcomment %}
    {% if is-translation and translation-styles-exist %}
        <link rel="stylesheet" type="text/css" href="{{ path-to-parent-styles-directory }}/{{ app-stylesheet }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ path-to-styles-directory }}/{{ app-stylesheet }}" />

    {% endif %}

    {% if site.mathjax-enabled == true %}
        {% include mathjax-config %}
    {% endif %}

    {% include head-elements %}

    </head>
    <body class="{{ book-directory }} {{ page.style }}{% if is-homepage == true %} home{% endif %}{% if is-search == true %} search-page{% endif %}{% if is-project-search == true %} project-search-page{% endif %}{% if is-book-search == true %} book-search-page{% endif %}"
    {% if page.accordion %}data-accordion-page="{{ page.accordion }}"{% endif %}>
        <div id="wrapper">


{% else %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ language }}" xml:lang="{{ language }}"{% if site.data.locales[language].direction %} dir="{{ site.data.locales[language].direction }}"{% endif %}>
<head>
    <title>
    {% if title %}
    {{ title }}{% if page.title %}: {{ page.title }}{% endif %}
    {% else %}
    {{ project-name }}{% if page.title %}: {{ page.title }}{% endif %}
    {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if site.canonical-url and site.canonical-url != "" %}
        <link rel="canonical" href="{{ site.canonical-url }}">
    {% endif %}

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.canonical-url}}{{ site.baseurl }}{{ page.url }}" />

    {% comment %}Get appropriate description, in order of preference:
    1. Page description (from page frontmatter)
    2. Book description (from meta.yml via metadata include)
    3. Project description (from meta.yml via metadata include)
    {% endcomment %}
    {% if page.description and page.description != "" %}
        {% capture og-description %}{{ page.description }}{% endcapture %}
    {% elsif description and description != "" %}
        {% capture og-description %}{{ description }}{% endcapture %}
    {% else %}
        {% capture og-description %}{{ project-description }}{% endcapture %}
    {% endif %}

    <meta property="og:description" content="{{ og-description }}" />

    {% if page.image %}
        {% if is-homepage == true or is-project-search == true %}
            {% comment %}If a page.image is specified on the home page, we still use the project image{% endcomment %}
            <meta property="og:image" content="{{ site.canonical-url }}{{ site.baseurl }}/assets/{{ project-image }}" />
        {% else %}
            <meta property="og:image" content="{{ site.canonical-url }}{{ site.baseurl }}/{{ book-directory }}/{{ site.image-set }}/{{ page.image }}" />
        {% endif %}
    {% elsif is-homepage == true or is-project-search == true %}
    <meta property="og:image" content="{{ site.canonical-url }}{{ site.baseurl }}/assets/{{ project-image }}" />
    {% elsif web-image != "" %}
    <meta property="og:image" content="{{ site.canonical-url }}{{ site.baseurl }}/{{ book-directory }}/{{ site.image-set }}/{{ web-image }}" />
    {% elsif image != "" %}
    <meta property="og:image" content="{{ site.canonical-url }}{{ site.baseurl }}/{{ book-directory }}/{{ site.image-set }}/{{ image }}" />
    {% else %}
    <meta property="og:image" content="{{ site.canonical-url }}{{ site.baseurl }}/assets/{{ project-image }}" />
    {% endif %}

    {% comment %}If we're not in a book subdirectory, load the first book's stylesheets.
    Otherwise, load the styles for this book. {% endcomment %}
    {% if is-homepage == true or is-project-search == true or page.collection == "docs" %}
    {% for book in site.data.meta.works %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/{{ book.directory }}/styles/{{ web-stylesheet }}" />
        {% break %}
    {% endfor %}
    {% else %}

    {% comment %}If this is a translation with its own styles,
    load the parent styles first, then translation styles override them.{% endcomment %}
    {% if is-translation and translation-styles-exist %}
        <link rel="stylesheet" type="text/css" href="{{ path-to-parent-styles-directory }}/{{ web-stylesheet }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ path-to-styles-directory }}/{{ web-stylesheet }}" />

    {% endif %}

    {% if site.mathjax-enabled == true %}
        {% include mathjax-config %}
    {% endif %}

    {% comment %} Include custom elements {% endcomment %}
    {% include head-elements %}

</head>
<body class="{{ book-directory }} {{ page.style }}{% if is-homepage == true %} home{% endif %}{% if is-search == true %} search-page{% endif %}{% if is-project-search == true %} project-search-page{% endif %}{% if is-book-search == true %} book-search-page{% endif %}"
{% if page.accordion %}data-accordion-page="{{ page.accordion }}"{% endif %}>
<div id="wrapper">

{% endif %}
