{% comment %} Add tags for landing pages.
This assumes we've created a page for each translation
in the root folder as /[language]/index.md. If we have not, it's okay:
Google will ignore them, since Google requires bidirectional links. {% endcomment %}

{% if is-homepage or is-translation-homepage %}

    {% comment %} Add x-default for all languages {% endcomment %}
    <link rel="alternate" hreflang="x-default" href="{{ site.canonical-url }}{{ site.baseurl }}/" />

    {% comment %} Add link for project language {% endcomment %}
    <link rel="alternate" hreflang="{{ project-language }}" href="{{ site.canonical-url }}{{ site.baseurl }}/" />

    {% comment %} Add alternate links for available translations {% endcomment %}
    {% for each-language in languages %}
        {% unless each-language == project-language %}
            <link rel="alternate" hreflang="{{ each-language }}" href="{{ site.canonical-url }}{{ site.baseurl }}/{{ each-language }}/" />
        {% endunless %}
    {% endfor %}

{% endif %}


{% comment %} Add tags for book pages {% endcomment %}

{% if is-book-directory or is-book-subdirectory %}

    {% include translations-array.html %}

    {% comment %} Add default. If this file exists in the parent language, set that language as default. Else, set this translation language as the default. {% endcomment %}

    {% if translations-array contains parent-language or language == parent-language %}

        <link rel="alternate" hreflang="x-default" href="{{ site.canonical-url }}{{ site.baseurl }}/book/text/{{ current-file }}.html" />

    {% else %}

        <link rel="alternate" hreflang="x-default" href="{{ site.canonical-url }}{{ site.baseurl }}/book/{{ language }}/text/{{ current-file }}.html" />

    {% endif %}

    {% comment %} Add alternate link for this language {% endcomment %}
    {% if language == parent-language %}

        <link rel="alternate" hreflang="{{ language }}" href="{{ site.canonical-url }}{{ site.baseurl }}/book/text/{{ current-file }}.html" />

    {% else %}

        <link rel="alternate" hreflang="{{ language }}" href="{{ site.canonical-url }}{{ site.baseurl }}/book/{{ language }}/text/{{ current-file }}.html" />

    {% endif %}

    {% comment %} Add alternate link for available translations {% endcomment %}
    {% for translation in translations-array %}

        {% if translation == parent-language %}

            <link rel="alternate" hreflang="{{ translation }}" href="{{ site.canonical-url }}{{ site.baseurl }}/book/text/{{ current-file }}.html" />

        {% else %}

            <link rel="alternate" hreflang="{{ translation }}" href="{{ site.canonical-url }}{{ site.baseurl }}/book/{{ translation }}/text/{{ current-file }}.html" />

        {% endif %}

    {% endfor %}

{% endif %}
