{% include translations-array.html %}

{% comment %} Add default. If this file exists in the parent language, set that language as default. Else, set this translation language as the default. {% endcomment %}

{% if translations-array contains parent-language or language == parent-language %}
    
    <link rel="alternate" hreflang="x-default" href="{{ site.canonical-url }}{{ site.baseurl }}/book/{{ current-file }}.html" />

{% else %}
    
    <link rel="alternate" hreflang="x-default" href="{{ site.canonical-url }}{{ site.baseurl }}/book/{{ language }}/{{ current-file }}.html" />
    
{% endif %}

{% comment %} Add alternate link for this language {% endcomment %}
{% if language == parent-language %}
    
    <link rel="alternate" hreflang="{{ language }}" href="{{ site.canonical-url }}{{ site.baseurl }}/book/{{ current-file }}.html" />
    
{% else %}

    <link rel="alternate" hreflang="{{ language }}" href="{{ site.canonical-url }}{{ site.baseurl }}/book/{{ language }}/{{ current-file }}.html" />

{% endif %}

{% comment %} Add alternate link for available translations {% endcomment %}
{% for translation in translations-array %}

    {% if translation == parent-language %}
    
        <link rel="alternate" hreflang="{{ translation }}" href="{{ site.canonical-url }}{{ site.baseurl }}/book/{{ current-file }}.html" />
    
    {% else %}
        
        <link rel="alternate" hreflang="{{ translation }}" href="{{ site.canonical-url }}{{ site.baseurl }}/book/{{ translation }}/{{ current-file }}.html" />
        
    {% endif %}

{% endfor %}
