<div class="masthead">

{% if is-book-subdirectory != true %}
    <ul>
        <li class="masthead-project-name"><a href="{{ path-to-root-directory }}index.html">{{ project-name | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a></li>

        {% if is-docs-page %}
        <li class="masthead-docs-index"><a href="{{ path-to-root-directory }}/docs/">Docs</a></li>
        <li class="masthead-docs-page">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</li>
        {% endif %}

    </ul>

{% else %}

    <ul>
        {%if number-of-works == 1 %}
            <li class="masthead-book-title"><a href="{{ path-to-root-directory }}index.html">{{ title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a></li>
            {% include breadcrumbs breadcrumb-tree=web-nav-tree %}
        {% else %}
            <li class="masthead-project-name"><a href="{{ path-to-root-directory }}index.html">{{ project-name | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a></li>
            <li class="masthead-book-title"><a href="{{ web-contents-page }}{% unless web-contents-page contains '.html' %}.html{% endunless %}">{{ title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a></li>
            {% include breadcrumbs breadcrumb-tree=web-nav-tree %}
        {% endif %}
    </ul>

{% endif %}

</div><!--.masthead-->
