<div class="masthead">

{% if is-text-directory != true %}
    <ul>
        <li class="masthead-series-name"><a href="{{ site.baseurl }}/">{{ series-name | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a></li>

        {% if is-docs-page %}
        <li class="masthead-docs-index"><a href="{{ site.baseurl }}/docs/">Docs</a></li>
        <li class="masthead-docs-page">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</li>
        {% endif %}

    </ul>

{% else %}

    <ul>
        {%if number-of-works == 1 %}
            <li class="masthead-book-title"><a href="{{ site.baseurl }}/">{{ title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a></li>
            {% include breadcrumbs breadcrumb-tree=web-nav-tree %}
        {% else %}
            <li class="masthead-series-name"><a href="{{ site.baseurl }}/">{{ series-name | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a></li>
            <li class="masthead-book-title"><a href="{{ web-contents-page }}">{{ title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a></li>
            {% include breadcrumbs breadcrumb-tree=web-nav-tree %}
        {% endif %}
    </ul>

{% endif %}

</div><!--.masthead-->
