{% comment %} Meta tags for OpenGraph metadata
and similar uses, e.g. social sharing. {% endcomment %}


{% comment %} Page title {% endcomment %}

{% capture meta-tag-title %}{{ project-name }}{% endcapture %}
{% if page.title and page.title != "" %}
    {% capture meta-tag-title %}{{ page.title }}{% endcapture %}
{% elsif title and title != "" %}
    {% capture meta-tag-title %}{{ title }}{% endcapture %}
{% endif %}


{% comment %} Page URL {% endcomment %}

{% capture meta-tag-url %}{{ site.canonical-url}}{{ site.baseurl }}{{ page.url }}{% endcapture %}


{% comment %} Page description

In order of preference:
1. Page description (from page frontmatter)
2. Book description (from `_data/works` via metadata include)
3. Project description (from `_data/works` via metadata include)
{% endcomment %}

{% capture meta-tag-description %}{{ project-description }}{% endcapture %}
{% if page.description and page.description != "" %}
    {% capture meta-tag-description %}{{ page.description }}{% endcapture %}
{% elsif description and description != "" %}
    {% capture meta-tag-description %}{{ description }}{% endcapture %}
{% endif %}


{% comment %} Image

Fall back to the project image.
Use the page image if one is defined,
otherwise use the work's web image, as defined in default.yml.
And if that's not available, but there is an image defined
for the work or product, use that.

{% endcomment %}

{% assign meta-image-name = project-image %}
{% if page.image and page.image != "" %}
    {% assign meta-image-name = page.image %}
{% elsif web-image and web-image != "" %}
    {% assign meta-image-name = web-image %}
{% elsif image and image != "" %}
    {% assign meta-image-name = image %}
{% endif %}

{% comment %} The OG image URL must be absolute, not relative.
If we are using remote media, use the `images` path ... {% endcomment %}

{% if external-media and external-media != "" %}
    {% capture meta-tag-image %}{{ images }}/{{ meta-image-name }}{% endcapture %}

{% comment %} ... otherwise use the canonical URL. {% endcomment %}
{% else %}

    {% comment %} We have to work out if the image is in assets or a book directory,
    and whether it's in a translated language folder. {% endcomment %}
    {% if is-root-directory == true or is-translation-root-directory == true %}
        {% if is-translation-root-directory == true %}
            {% capture canonical-meta-image-path %}assets/{{ language }}/images/web{% endcapture %}
        {% else %}
            {% capture canonical-meta-image-path %}assets/images/web{% endcapture %}
        {% endif %}
    {% elsif is-book-directory %}
        {% if is-translation %}
            {% capture canonical-meta-image-path %}{{ book-directory }}/{{ language }}/images/web{% endcapture %}
        {% else %}
            {% capture canonical-meta-image-path %}{{ book-directory }}/images/web{% endcapture %}
        {% endif %}
    {% endif %}

    {% capture meta-tag-image %}{{ site.canonical-url }}{{ site.baseurl }}/{{ canonical-meta-image-path }}/{{ meta-image-name }}{% endcapture %}
{% endif %}
