{% capture question-secret-code %}

{% comment %}Put the correct answers into an array.
They might come from the include on a page or from a 
question file's YAML frontmatter.{% endcomment %}
{% if include.correct %}
    {% assign question-correct-options = include.correct | replace: ", ", "," | replace: " ,", "," | split: "," %}
{% else %}
    {% assign question-correct-options = page.correct | replace: ", ", "," | replace: " ,", "," | split: "," %}
{% endif %}

{% comment %}How many options are there?{% endcomment %}
{% assign number-of-correct-options = question-correct-options | size %}

{% comment %}Get the day in numbers to use for randomishness.{% endcomment %}
{% assign day = site.time | date: "%-d" %}

{% comment %}String some strings together that we can decode with JS in the browser.
How this obfuscation works:
1. The number of correct options is represented by a string of digits.
   E.g. two digits means there are two correct answers.
2. then, the number of each correct option is represented by the number of vowels.
   E.g. three vowels in a row means the third answer option is correct.
3. We repeat that with consonants, to mark the ends of the vowel strings, and
   for extra obfuscation.
4. Finally, we add a random string of digits and letters as long as the day-date.
   E.g. on 10 June the string will be 10 characters long.
{% endcomment %}
{% include random length=number-of-correct-options type="numbers" %}
{% for option in question-correct-options %}
{% include random length=option type="vowels" %}
{% include random length=option type="consonants" %}
{% endfor %}
{% include random length=day %}

{% endcapture %}{{ question-secret-code | strip_newlines }}