// CYMK values for print output,
// RGB/hex values for other outputs.
// We set both these sets in explicit
// if/else blocks because !default values
// do not override ones set previously.
// The first !default we set wins.

// Since variables are scoped to their @if statement,
// we must initialise them first.
// https://stackoverflow.com/a/15372344/1781075

// Colours
$template-green: null;
$template-blue: null;
$template-yellow: null;
$template-orange: null;

$template-green-light: null;
$template-blue-light: null;
$template-yellow-light: null;
$template-orange-light: null;

// Blacks
$black: null;
$grey-dark: null;
$grey-mid: null;
$grey-light: null;
$white: null;
$white-mid: null;

// Then we set the actual !default values.

@if $output-format != "print-pdf" {

    // Colours
    $template-green: #59D6B4 !default;
    $template-blue: #5f738c !default;
    $template-yellow: #ffd54d !default;
    $template-orange: #ff7c4d !default;

    $template-green-light: #D0FFFF !default;
    $template-blue-light: #C9DEFA !default;
    $template-yellow-light: #FFFFBD !default;
    $template-orange-light: #FFECB5 !default;

    // Blacks
    $black: #262626 !default;
    $grey-dark: #333333 !default;
    $grey-mid: #999999 !default;
    $grey-light: #cccccc !default;
    $white: #FFF !default;
    $white-mid: #f9f9f9 !default;

} @else {

    // Colours
    $template-green: cmyk(58%, 0%, 16%, 16%) !default;
    $template-blue: cmyk(18%, 10%, 0%, 45%)  !default;
    $template-yellow: cmyk(0%, 16%, 70%, 0% ) !default;
    $template-orange: cmyk(0%, 51%, 70%, 0% ) !default;

    $template-green-light: cmyk(15%, 0%, 0%, 3%) !default;
    $template-blue-light: cmyk(19%, 7%, 0%, 0%)  !default;
    $template-yellow-light: cmyk(2%, 0%, 31%, 0% ) !default;
    $template-orange-light: cmyk(1%, 6%, 34%, 0% ) !default;

    // Blacks
    $black: cmyk(0%, 0%, 0%, 100%) !default;
    $grey-dark: cmyk(0%, 0%, 0%, 80%) !default;
    $grey-mid: cmyk(0%, 0%, 0%, 40%) !default;
    $grey-light: cmyk(0%, 0%, 0%, 20%) !default;
    $white: cmyk(0%, 0%, 0%, 0%) !default;
}
