$epub-notes: true !default;
@if $epub-notes {

	// Footnotes, endnotes and sidenotes
	// Note: Conventionally, HTML .footnotes are in a book context endnotes.

	// Footnotes section
	.footnotes {
	  margin: ($line-height-default * 2) 0 0 0;
	  border-top: 1px solid $color-light;
	}
	.footnotes p {
		text-indent: 0;
	}

	// Single sidenote
	.sidenote {
		font-family: $font-text-secondary;
		clear: both;
		float: right;
		min-width: 5em;
		padding: $line-height-default / 2;
		border-top: 1px solid $color-light;
		text-indent: 0;
		font-size: $font-size-default * $font-size-smaller;
		line-height: $line-height-default * $font-size-smaller;
		font-style: inherit;
		position: relative;
		max-width: 40%;
		margin: 0 0 ($line-height-default / 2) ($line-height-default / 2);
		background-color: white;
		// Don't text-indent paragraphs that follow sidenotes that follow a heading.
		// We allow for up to three sidenotes between the heading and paragraph.
		h1 + & + p,
		h2 + & + p,
		h3 + & + p,
		h4 + & + p,
		h5 + & + p,
		h6 + & + p,
		h1 + & + & + p,
		h2 + & + & + p,
		h3 + & + & + p,
		h4 + & + & + p,
		h5 + & + & + p,
		h6 + & + & + p,
		h1 + & + & + & + p,
		h2 + & + & + & + p,
		h3 + & + & + & + p,
		h4 + & + & + & + p,
		h5 + & + & + & + p,
		h6 + & + & + & + p {
			text-indent: 0;
		}
	}

	// No media queries for epub, since they're not widely supported.

	// .bottom {} // Only used for print output, ignored for screen.

}