@mixin select-list-marker($color-background: $color-light, $color-text: $color-text-main) {
    background-color: $color-background;
    border-radius: $box-border-radius;
    color: $color-text;
    height: $line-height-default;
    margin: 0 ($line-height-default / 4);
    padding: ($line-height-default / 8) ($line-height-default / 4);
    position: absolute;
}

$epub-select-questions: true !default;
@if $epub-select-questions {

    // Select lists

    .select-list {
        &.select-option-correct {
            & + .select-list-marker {
                @include select-list-marker($color-notification-low-background, $color-notification-low-text);
            }
        }
        &.select-option-incorrect {
            & + .select-list-marker {
                @include select-list-marker($color-notification-high-background, $color-notification-high-text);
            }
        }
    }

}
