$epub-figures: true !default;
@if $epub-figures {

	// Figures. Note: we use the blockquote element to wrap figures and their captions in valid XHTML. 
	// This keeps them EPUB2 compatible (unlike the <figure> element, which is not.)
	// Use the .figure class for the blockquote wrapping an image and a caption. 
	// Add .fixed, .small and/or .large for layout and size options.

	// To do:
	// * Add styling for <figure> element as created with figure include

	.figure {
		clear: both;
		page-break-inside: avoid;
		background-color: inherit;
		font-size: inherit;
		font-weight: inherit;
		margin: $line-height-default 0;
		padding: $line-height-default / 2;
	}
	.figure p {
		clear: both;
		text-align: center;
		page-break-inside: avoid;
		page-break-before: avoid;
		hyphens: none;
		font-style: italic;
		em {
			font-style: normal;
		}
	}
	.figure p img, .figure img {
		padding: ($line-height-default / 2) 0 ($line-height-default) 0;
		margin: 0 auto;
		max-width: 100%; 
		object-fit: scale-down;
		display: block;
	}
	// Captions added as a paragraph following the image inside the blockquote
	// Note ADE may not support pseudo selectors
	.figure .caption,
	.figure p:nth-child(2) {
		padding: ($line-height-default / 2) 0 0 0;
		text-align: center;
		text-indent: 0;
	}
	.figure.x-small p img {}
	.figure.small p img {}
	.figure.large p img {
		max-height:inherit;
	}

	// No media queries here, because older ereaders such as ADE don't support them properly.

	// Thumbnail figures
	.figure.thumbnail {
		max-width: 25%;
		float: right;
		margin: 0 0 0 ($line-height-default / 2);
    	padding: 0;
		img {
			padding: 0;
		}
	}

}
