$epub-questions: true !default;
@if $epub-questions {

    // Question formatting

    .question {
        font-family: $font-text-secondary;
        line-height: $line-height-default;
        page-break-inside: avoid;
        padding: ($line-height-default / 2);
        margin: $line-height-default 0;
        p {
            text-indent: 0;
        }
        .figure {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // Check-answer button

    .question {
        .check-answer-button {
            display: none;
        }
    }

    .js-mcq {
        .question {
            .check-answer-button {
                display: inline-block;
                font-family: $font-text-secondary;
                line-height: $line-height-default;
                padding: $line-height-default/2 $line-height-default;
                background-color: $color-buttons;
                color: white;
                border: 0;
                border-radius: $button-border-radius;
                cursor: pointer;
            }
        }
    }

    // Exam, quiz and question numbering.
    // Questions are gathered in quizzes,
    // and quizzes can be gathered as sections of exams.

    .exam {
        counter-reset: exam 0 quiz 0;
    }
    .quiz {
        counter-reset: quiz; // question numbering restarts in each quiz...
        .exam & {
            counter-reset: none; // ...except across quizzes in a single exam
        }
        &:before {
            counter-increment: exam;
            // content: counter(exam); // Uncomment to number quizzes
        }
        // Don't number if there is only one quiz in the exam
        &:only-child:before {
            content: normal;
        }
        .question {
            counter-reset: question;
            &:before {
                counter-increment: quiz;
                content: counter(quiz) ".";
                float: left;
                margin-right: 0.25em;
            }
            &:only-of-type:before {
                content: normal;
            }
        }
        .question ol {
            list-style-type: none;
            li {
                &:before {
                    counter-increment: question;
                    content: counter(quiz) "." counter(question) " ";
                }
            }
        }
    }

    // Marks

    .quiz {
        font-family: $font-text-secondary;
        .quiz-total-marks {
            font-weight: bold;
            float: right;
        }
    }
    .question {
        em.marks, strong.marks {
            font-style: normal;
            font-weight: normal;
            float: right;
        }
        .question-total-marks {
            font-weight: bold;
            float: right;
            &:before {
                content: "[";
            }
            &:after {
                content: "]";
            }
        }
    }

    // Inputs

    .question {
        input.fill-in-blank {
            display: inline;
            width: 8em;
            padding: 0.2em;
            line-height: 1;
            margin: 0;
            border-width: 0 0 $rule-thickness 0;
        }
    }

    // Multiple-choice questions

    .mcq-options {
        margin-bottom: 0;
        list-style-type: circle;
        [type="checkbox"] {
            display: inline-block;
            width: auto;
            margin: 0 ($line-height-default / 2) 0 0;
            cursor: pointer;
        }
        label {
            display: block;
            cursor: pointer;
        }
    }

    .mcq-feedback {
        display: none;
    }

    .js-mcq {
        .mcq-options {
            list-style-type: none;
            margin-left: 0;
            li {
                margin-bottom: $line-height-default / 2;
                margin-left: -($line-height-default / 2);
                padding: 0 ($line-height-default / 2);
                border: $button-border-radius solid transparent;
                border-radius: $button-border-radius;
            }
            .selected {
                border-color: $color-accent;
            }
        }
    }

    .js-mcq {
        .mcq-feedback {
            display: block;
            position: relative;
            margin-top: $line-height-default;
            list-style-type: none;
            margin-left: 0;
            background-color: $color-light;
            border-radius: $button-border-radius;
            &:before {
                display: block;
                padding: $line-height-default / 2 0 $line-height-default / 2 $line-height-default * 2;
            }
            &:after {
                // position: absolute; // not valid in epub
                top: $line-height-default / 2;
                left: $line-height-default;
            }
            li {
                display: none;
                padding: 0 $line-height-default / 2 $line-height-default / 2 $line-height-default * 2;
            }
            .mcq-feedback-show {
                display: block;
            }
        }
        // Words hard-coded here need to be localised with Javascript in _includes/end-elements
        .mcq-incorrect {
            .mcq-feedback {
                &:before {
                    content: "Incorrect";
                }
                &:after {
                    content: "\2717";
                }
            }
        }
        .mcq-partially-correct {
            .mcq-feedback {
                &:before {
                    content: "Good so far but you haven't selected all the correct answers.";
                }
            }
        }
        .mcq-correct {
            .mcq-feedback {
                &:before {
                    content: "Correct!";
                }
                &:after {
                    content: "\2713";
                }
            }
        }
    }

}
