$epub-epigraphs: true !default;
@if $epub-epigraphs {

    // Epigraphs

    .epigraph-page {
        margin-top: $start-depth;
    }
    .epigraph {
        text-indent: 0;
        padding: 0 ($paragraph-indent * 2);
    }
    .epigraph-source {
        text-indent: 0;
        padding: 0 ($paragraph-indent * 2);
        page-break-before: avoid;
        text-align: right;
        font-style: italic;
        em {
            font-style: normal;
        }
    }
    // Paragraphs after epigraph sources
    .epigraph-source + p {
        text-indent: 0;
        margin-top: $line-height-default;
    }

}
