// Mixins, which cannot be inside Sass control directives (the @if section below).
@mixin header-style() {
  color: $header-text-color;
  font-family: $header-font;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
  text-transform: $header-case;
  letter-spacing: $header-letter-spacing;
}

@mixin header-position() {
  vertical-align: top;
  line-height: 1;
  margin-top: $header-space-from-top;
  margin-bottom: $header-space-from-text;
  text-align: $header-text-align;
}

@mixin footer-style() {
  color: footer-text-color;
  font-family: $footer-font;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  text-transform: $footer-case;
  letter-spacing: $footer-letter-spacing;
}

@mixin footer-position() {
  vertical-align: bottom;
  line-height: 1;
  margin-top: $footer-space-from-text;
  margin-bottom: $footer-space-from-bottom;
  text-align: $footer-text-align;
}

@mixin left-margin-style() {
  font-family: $left-margin-font;
  font-size: $left-margin-font-size;
  font-weight: $left-margin-font-weight;
  text-transform: $left-margin-case;
  letter-spacing: $left-margin-letter-spacing;
  writing-mode: vertical-rl; // should be vertical-lr but prince doesn't support it
}

@mixin left-margin-position() {
  vertical-align: $left-margin-alignment;
  line-height: 1;
  padding-left: $left-margin-space-from-edge;
  margin-right: $left-margin-space-from-text;
  text-align: $left-margin-text-align;
}

@mixin right-margin-style() {
  font-family: $right-margin-font;
  font-size: $right-margin-font-size;
  font-weight: $right-margin-font-weight;
  text-transform: $right-margin-case;
  letter-spacing: $right-margin-letter-spacing;
  writing-mode: vertical-rl;
}

@mixin right-margin-position() {
  vertical-align: $right-margin-alignment;
  line-height: 1;
  padding-right: $right-margin-space-from-edge;
  margin-left: $right-margin-space-from-text;
  text-align: $right-margin-text-align;
}

$print-page-headers-footers-style: true !default;
@if $print-page-headers-footers-style {

  // Styling of headers and footers

  // Let's define our header typography as a mixin
  // Note we don't set margins here. 
  // By default the header will center vertically in the margin box. 
  // Control its position with `vertical-align: top` and then `margin-top`.

  // Verso
  @page chapter:left {
    @top {
      @include header-style();
      @include header-position();
    }
    @top-right {
      @include header-style();
      @include header-position();
    }
    @top-left {
      @include header-style();
      @include header-position();
    }
    @top-right-corner {
      @include header-style();
      @include header-position();
    }
    @top-left-corner {
      @include header-style();
      @include header-position();
    }
    @bottom {
      @include footer-style();
      @include footer-position();
    }
    @bottom-left {
      @include footer-style();
      @include footer-position();
    }
    @bottom-right {
      @include footer-style();
      @include footer-position();
    }
    @bottom-left-corner {
      @include footer-style();
      @include footer-position();
    }
    @bottom-right-corner {
      @include footer-style();
      @include footer-position();
    }
    @left {
      @include left-margin-style();
      @include left-margin-position();
    }
    @left-top {
      @include left-margin-style();
      @include left-margin-position();
    }
    @left-bottom {
      @include left-margin-style();
      @include left-margin-position();
    }
    @right {
      @include right-margin-style();
      @include right-margin-position();
    }
    @right-top {
      @include right-margin-style();
      @include right-margin-position();
    }
    @right-bottom {
      @include right-margin-style();
      @include right-margin-position();
    }
  }

  // Recto
  @page chapter:right {
    @top {
      @include header-style();
      @include header-position();
    }
    @top-right {
      @include header-style();
      @include header-position();
    }
    @top-left {
      @include header-style();
      @include header-position();
    }
    @top-right-corner {
      @include header-style();
      @include header-position();
    }
    @top-left-corner {
      @include header-style();
      @include header-position();
    }
    @bottom {
      @include footer-style();
      @include footer-position();
    }
    @bottom-left {
      @include footer-style();
      @include footer-position();
    }
    @bottom-right {
      @include footer-style();
      @include footer-position();
    }
    @bottom-left-corner {
      @include footer-style();
      @include footer-position();
    }
    @bottom-right-corner {
      @include footer-style();
      @include footer-position();
    }
    @left {
      @include left-margin-style();
      @include left-margin-position();
    }
    @left-top {
      @include left-margin-style();
      @include left-margin-position();
    }
    @left-bottom {
      @include left-margin-style();
      @include left-margin-position();
    }
    @right {
      @include right-margin-style();
      @include right-margin-position();
    }
    @right-top {
      @include right-margin-style();
      @include right-margin-position();
    }
    @right-bottom {
      @include right-margin-style();
      @include right-margin-position();
    }
  }

  // Verso
  @page frontmatter:left {
    @top {
      @include header-style();
      @include header-position();
    }
    @top-right {
      @include header-style();
      @include header-position();
    }
    @top-left {
      @include header-style();
      @include header-position();
    }
    @top-right-corner {
      @include header-style();
      @include header-position();
    }
    @top-left-corner {
      @include header-style();
      @include header-position();
    }
    @bottom {
      @include footer-style();
      @include footer-position();
    }
    @bottom-left {
      @include footer-style();
      @include footer-position();
    }
    @bottom-right {
      @include footer-style();
      @include footer-position();
    }
    @bottom-left-corner {
      @include footer-style();
      @include footer-position();
    }
    @bottom-right-corner {
      @include footer-style();
      @include footer-position();
    }
    @left {
      @include left-margin-style();
      @include left-margin-position();
    }
    @left-top {
      @include left-margin-style();
      @include left-margin-position();
    }
    @left-bottom {
      @include left-margin-style();
      @include left-margin-position();
    }
    @right {
      @include right-margin-style();
      @include right-margin-position();
    }
    @right-top {
      @include right-margin-style();
      @include right-margin-position();
    }
    @right-bottom {
      @include right-margin-style();
      @include right-margin-position();
    }
  }

  // Recto
  @page frontmatter:right {
    @top {
      @include header-style();
      @include header-position();
    }
    @top-right {
      @include header-style();
      @include header-position();
    }
    @top-left {
      @include header-style();
      @include header-position();
    }
    @top-right-corner {
      @include header-style();
      @include header-position();
    }
    @top-left-corner {
      @include header-style();
      @include header-position();
    }
    @bottom {
      @include footer-style();
      @include footer-position();
    }
    @bottom-left {
      @include footer-style();
      @include footer-position();
    }
    @bottom-right {
      @include footer-style();
      @include footer-position();
    }
    @bottom-left-corner {
      @include footer-style();
      @include footer-position();
    }
    @bottom-right-corner {
      @include footer-style();
      @include footer-position();
    }
    @left {
      @include left-margin-style();
      @include left-margin-position();
    }
    @left-top {
      @include left-margin-style();
      @include left-margin-position();
    }
    @left-bottom {
      @include left-margin-style();
      @include left-margin-position();
    }
    @right {
      @include right-margin-style();
      @include right-margin-position();
    }
    @right-top {
      @include right-margin-style();
      @include right-margin-position();
    }
    @right-bottom {
      @include right-margin-style();
      @include right-margin-position();
    }
  }

}
