$print-hyphenation: true !default;
$hyphenation-custom: add !default;
@if $print-hyphenation {

    // Hyphenation

    // Basic hyphenation variables
    p, ul, ol, dl {
        hyphens: $hyphenation;
        hyphenate-after: $hyphenate-after; // Minimum letters on new line after hyphen
        hyphenate-before: $hyphenate-before; // Minimum letters at end of line before hyphen
        hyphenate-lines: $hyphenate-lines; // Maximum number of consecutive lines ending with hyphens
    }

    // Is a hyphenation dictionary specified?
    // If not, don't use one, and let Prince use its default.
    p, ul, ol, dl {
        @if $hyphenation-dictionary == "" {}
        @else {
            prince-hyphenate-patterns: url("#{$hyphenation-dictionary}");
        }
    }

    // In addition, if we want a custom dictionary to override all Prince
    // built-in dictionaries, override its :root style.
    :root,
    :lang(da),
    :lang(de),
    :lang(en),
    :lang(en-US),
    :lang(es),
    :lang(fi),
    :lang(fr),
    :lang(is),
    :lang(it),
    :lang(lt),
    :lang(pl),
    :lang(pt),
    :lang(ru),
    :lang(sl),
    :lang(sv) {
        @if $hyphenation-custom == "replace" {
            prince-hyphenate-patterns: url("#{$hyphenation-dictionary}");
        }
    }

}