$print-buttons: true !default;
@if $print-buttons {

    // Buttons
        
    // Applied to inline elements
    a.button,
    em.button,
    strong.button,
    span.button, {
        text-decoration: none;
        &:after {
            content: " (" attr(href) ")";
        }
    }

    // Applied to block-level elements
    p.button,
    ol.button,
    ul.button,
    li.button,
    blockquote.button,
    table.button,
    div.button,
    h1.button,
    h2.button,
    h3.button,
    h4.button,
    h5.button,
    h6.button, {
        text-indent: 0;
        text-align: center;
        a {
            font-family: $font-text-secondary;
            display: inline-block;
            background-color: $color-light;
            color: inherit;
            padding: $line-height-default / 2;
            margin: $line-height-default 0;
            border-radius: $button-border-radius;
            text-decoration: none;
            &:after {
                content: " (" attr(href) ")";
            }
        }
        & + p {
            text-indent: 0;
        }
    }

    // An option to change the default text-indented paragraphs
    // and close-up lists etc. to have space-between instead.
    @if $spaced-paras {
        p.button,
        ol.button,
        ul.button,
        li.button,
        blockquote.button,
        table.button,
        div.button,
        h1.button,
        h2.button,
        h3.button,
        h4.button,
        h5.button,
        h6.button, {
            a {
                margin: 0;
            }
        }
    }
    
}