$print-sources: true !default;
@if $print-sources {

    // Styles not covered by the default blockquote element in base-typography
    // The source of a quotation, e.g. a name or book title, that appears after the quote
    p.source {
        font-style: italic;
        margin: 0 $line-height-default $line-height-default $line-height-default;
        text-indent: 0;
    	page-break-before: avoid;
        em {
            font-style: normal;
        }
        + p {
            text-indent: 0;
        }
    }
    em.source,
    strong.source,
    span.source {
        display: block;
        page-break-before: avoid;
        margin: 0 $line-height-default $line-height-default $line-height-default;
        font-style: italic;
        font-weight: inherit;
    }

}