$print-figures: true !default;
@if $print-figures {

	// Figures

	.figure {
		clear: both;
		float: bottom; // By default all figures float to the bottoms of their pages
		page-break-inside: avoid;
		background-color: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		margin: 0 0 $line-height-default 0;
		padding: 0;
		width: 100%;
		box-sizing: border-box;
		p {
			clear: both;
			page-break-inside: avoid;
			page-break-before: avoid;
			text-align: center;
			text-indent: 0;
			hyphens: none;
			font-style: italic;
			em {
				font-style: normal;
			}
		}
		img, p img {
			width: auto;
			max-width: 100%;
			max-height: 100%; // Prevents image from expanding below a parent p set to a specific height
			margin: 0 auto 0 auto;
		}
		.figure-body {
			.figure-images {
				text-align: center;
				margin-bottom: $line-height-default;
			}
			.figure-html, .figure-md {}
			.title {}
			// Descriptions are hidden by default, and used for image alt text
			.description {
				display: none;
			}
			.caption {
				margin: 0;
				text-align: center;
				text-indent: 0;
				.figure-reference {
					font-weight: bold;
				}
			}
		}
		.figure-source {
			.source {}
		}
		// For older markdown-only figure syntax, the last para is the caption
		// Note doesn't allow for multi-para captions – have to use line breaks :(
		p:last-of-type {
			margin: 0;
			text-align: center;
			text-indent: 0;
		}
		// Figures that do not float
		&.fixed {
			clear: both;
			float: none;
			margin-top: $line-height-default;
		}
		// Thumbnail figures
		&.thumbnail {
			max-width: 25%;
			float: right;
			margin: 0 0 0 ($line-height-default / 2);
	    	padding: 0;
			img {
				padding: 0;
			}
		}
	}

	// Experimental. Effectively overrides 'unless-fit' to reduce ugly instances
	// of indented images in lists beside floated, non-indented images.
	ol li .figure, ul li .figure {
		display: inline-block;
	}

	// Image size options
	// These need to be deprecated in favour of a multiple-based system.
	.figure.x-small p img {
		width: auto;
		max-height: $line-height-default * 5;
	}
	.figure.small p img {
		width: auto;
		max-height: $line-height-default * 7;
	}
	.figure.medium p img {
		width: auto;
		max-height: $line-height-default * 10;
	}
	.figure.large {
		float: none;
		page-break-before: always;
	}
	.figure.large img {
		max-height: $page-height - ($margin-top + $margin-bottom);
		max-width: 100%;
		width: auto;
	}

	// For another way to fit images to size, see _print-fitting.scss

	// Paragraphs that follow figures should:
	// have an indent when following floated figures
	// not have an indent when following fixed figures.
	.figure + p {
		text-indent: $line-height-default;
	}
	.figure.fixed + p {
		text-indent: 0;
	}

}
