$print-bibliographies: true !default;
@if $print-bibliographies {

    // Bibliographies set as lists (similar in appearance to lines of verse set as a list with indented runovers)

    .bibliography {
    	text-indent: 0;
    	margin: $line-height-default 0;
    }
    .bibliography + p {
    	text-indent: 0; /* Paragraphs after bibliographies should be flush left */
    }
    ul.bibliography {
    	list-style-type: none;
    	padding: 0;
    	margin: $line-height-default 0;
    }
    ul.bibliography li {
    	text-indent: $line-height-default * (-2);
    	margin-left: $line-height-default * 2;
    }

}