$print-slides: true !default;
@if $print-slides {

    .slides {
        float: bottom;
        margin-top: $line-height-default;
        margin-bottom: 0;
        margin-outside: -($sidebar-text-width + $sidebar-margin-inside); // -60mm;
        margin-inside: 0;
        column-count: 3;
        column-gap: $grid-unit-width;
        column-fill: balance; // default anyway, but making it explicit here
        widows: 1; // ensures a column balance when containing only three slides
        orphans: 1; // ensures a column balance when containing only three slides
        .figure {
            float: none; // don't float like normal figures, all of .slides floats instead
            display: inline-block;
            width: $sidebar-text-width;
            padding: 0;
            margin: 0;
            border: 0;
            vertical-align: top;
            counter-increment: slide; // for numbering slides
            // When there are only two slides (a summary and two figures)
            // we shift those inside to avoid the empty third column.
            // This CSS selects the second and third of three siblings.
            &:nth-child(2):nth-last-child(2),
            &:nth-child(3):nth-last-child(1) {
                margin-outside: $sidebar-text-width + $sidebar-margin-inside;
            }
            // When there are four slides, there is a chance they fall into
            // the first two columns, leaving the third blank. We can only
            // control for this manually, adding a `column-break-after` class
            // to one of the figures in .slides.
            &.column-break-after {
                display: block;
                column-break-after: always;
            }
            // same thing, but after
            &.column-break-before {
                display: block;
                column-break-before: always;
            }
            .figure-body {
                width: $sidebar-text-width;
                float: none;
            }
            .figure-images {
                display: none;
            }
            .figure-html {
                display: none;
            }
            .figure-md {
                display: none;
            }
            .title {
                display: block;
                margin-bottom: 0;
                text-align: left;
                color: $color-accent;
                &:before {
                    content: counter(slide, decimal) ". ";
                }
            }
            .caption {
                display: none;
            }
            .description {
                display: block;
                text-align: left;
            }
            .figure-source {
                display: none;
                .source {
                    display: none;
                }
            }
            // Show full summary figure in pdf output
            &.summary {
                column-span: all;
                display: block;
                margin-outside: $sidebar-text-width + $sidebar-margin-inside;
                margin-bottom: $line-height-default;
                width: $main-text-width;
                counter-reset: slide -1; // we do not number the summary figure, only subsequent figures in .slides
                .figure-body {
                    width: $main-text-width;
                    float: inside;
                }
                .figure-images {
                    display: block;
                }
                .figure-html {
                    display: block;
                }
                .figure-md {
                    display: block;
                }
                .title {
                    display: none;
                }
                .caption {
                    display: block;
                }
                .description {
                    display: none;
                }
                .figure-source {
                    width: $sidebar-text-width;
                    float: outside;
                    margin-outside: -($sidebar-text-width + $sidebar-margin-inside);
                    display: inline-block;
                    .source {
                        display: inline-block;
                    }
                }
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
            &.pdf-wide {
                width: $content-width;
                margin-outside: 0;
                .figure-body {
                    width: $content-width;
                }
                .figure-source {
                    width: $main-text-width;
                    margin-outside: $sidebar-text-width + $sidebar-margin-inside;
                    float: none;
                }
            }
            &.pdf-wide-source {
                .figure-source {
                    width: $content-width;
                    margin-outside: -($sidebar-text-width + $sidebar-margin-inside);
                    margin-inside: 0;
                    margin-top: $line-height-default;
                    float: none;
                    .source {
                        columns: 2 ($content-width / 2 - $line-height-default);
                        padding: 0;
                    }
                }
            }
        }
        // Allow manual positioning in sidebar
        &.pdf-sidebar {
            @include sidebar();
            margin-top: 0;
            margin-bottom: $line-height-default;
            columns: 1;
            .figure {
                padding: 0;
            }
        }
        // Reduce space between slide and text to save space
        &.trim-top-margin {
            margin-top: $line-height-default;
        }
        &.float-top, &.float-top-next {
            margin-top: 0;
            margin-bottom: $line-height-default;
            &.trim-bottom-margin {
                margin-bottom: $line-height-default;
            }
        }
        &.fixed {
            margin-top: $line-height-default;
            margin-bottom: $line-height-default;
        }
    }

}
