// Mixins, which cannot be inside Sass control directives (the @if section below).
@mixin header-style() {
  font-family: $font-text-secondary;
  font-size: $font-size-default * $font-size-smaller;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@mixin header-position() {
  vertical-align: top;
  margin-top: $margin-top / 2;
}

@mixin footer-position() {
  vertical-align: bottom;
  margin-bottom: $margin-bottom / 2;
}

$print-page-headers-footers-style: true !default;
@if $print-page-headers-footers-style {

  // Styling of headers and footers

  // Let's define our header typography as a mixin
  // Note we don't set margins here. 
  // By default the header will center vertically in the margin box. 
  // Control its position with `vertical-align: top` and then `margin-top`.

  // Verso
  @page chapter:left {
    @top {
      @include header-style();
      @include header-position();
    }
    @top-right {
      @include header-style();
      @include header-position();
    }
    @top-left {
      @include header-style();
      @include header-position();
    }
    @top-right-corner {
      @include header-style();
      @include header-position();
    }
    @top-left-corner {
      @include header-style();
      @include header-position();
    }
    @bottom {
      @include header-style();
      @include footer-position();
    }
    @bottom-left {
      @include header-style();
      @include footer-position();
    }
    @bottom-right {
      @include header-style();
      @include footer-position();
    }
    @bottom-left-corner {
      @include header-style();
      @include footer-position();
    }
    @bottom-right-corner {
      @include header-style();
      @include footer-position();
    }
  }

  // Recto
  @page chapter:right {
    @top {
      @include header-style();
      @include header-position();
    }
    @top-right {
      @include header-style();
      @include header-position();
    }
    @top-left {
      @include header-style();
      @include header-position();
    }
    @top-right-corner {
      @include header-style();
      @include header-position();
    }
    @top-left-corner {
      @include header-style();
      @include header-position();
    }
    @bottom {
      @include header-style();
      @include footer-position();
    }
    @bottom-left {
      @include header-style();
      @include footer-position();
    }
    @bottom-right {
      @include header-style();
      @include footer-position();
    }
    @bottom-left-corner {
      @include header-style();
      @include footer-position();
    }
    @bottom-right-corner {
      @include header-style();
      @include footer-position();
    }
  }

  // Verso
  @page frontmatter:left {
    @top {
      @include header-style();
      @include header-position();
    }
    @top-right {
      @include header-style();
      @include header-position();
    }
    @top-left {
      @include header-style();
      @include header-position();
    }
    @top-right-corner {
      @include header-style();
      @include header-position();
    }
    @top-left-corner {
      @include header-style();
      @include header-position();
    }
    @bottom {
      @include header-style();
      @include footer-position();
    }
    @bottom-left {
      @include header-style();
      @include footer-position();
    }
    @bottom-right {
      @include header-style();
      @include footer-position();
    }
    @bottom-left-corner {
      @include header-style();
      @include footer-position();
    }
    @bottom-right-corner {
      @include header-style();
      @include footer-position();
    }
  }

  // Recto
  @page frontmatter:right {
    @top {
      @include header-style();
      @include header-position();
    }
    @top-right {
      @include header-style();
      @include header-position();
    }
    @top-left {
      @include header-style();
      @include header-position();
    }
    @top-right-corner {
      @include header-style();
      @include header-position();
    }
    @top-left-corner {
      @include header-style();
      @include header-position();
    }
    @bottom {
      @include header-style();
      @include footer-position();
    }
    @bottom-left {
      @include header-style();
      @include footer-position();
    }
    @bottom-right {
      @include header-style();
      @include footer-position();
    }
    @bottom-left-corner {
      @include header-style();
      @include footer-position();
    }
    @bottom-right-corner {
      @include header-style();
      @include footer-position();
    }
  }

}
