$web-bookmarks: true !default;
@if $web-bookmarks {

    // Bookmarks

    // The bookmarks list
    .bookmarks {
        z-index: 100;
        padding: 0.5em;
        text-align: right;
        color: $bookmarks-text-color;
        .bookmarks-list {
            list-style-type: none;
            padding: 0; // override default masthead padding
            li {
                display: block; // overrides masthead ul styles
                a {
                    color: $bookmarks-text-color;
                }
                // override inherited styles from masthead ul li:after
                &:after {
                    content: normal;
                }
            }
        }
        // Hide the list till hover on parent
        .bookmarks-list {
            display: none;
        }
        &:hover {
            .bookmarks-list {
                background-color: $bookmarks-background-color;
                border-radius: $box-border-radius;
                display: inline;
                position: fixed;
                right: 0;
                padding: $line-height-default / 2;
                &:empty {
                    display: none;
                }
            }
        }
    }

    // Icon (_includes/bookmark-icon)
    svg.bookmark-icon {
        // Avoid Firefox bug where tapping selects SVG as text
        // https://bugzilla.mozilla.org/show_bug.cgi?id=1286882
        -moz-user-select: none;
        .bookmark-icon-outline {
            fill: $bookmark-icon-outline-color-inactive;
        }
        .bookmark-icon-fill {
            fill: $bookmark-icon-fill-color-inactive;
        }
    }

    // Bookmark button
    [data-bookmark="offscreen"] {
        .bookmark-button {
            display: none;
        }
    }
    [data-bookmark="onscreen"],
    * [data-bookmark="onscreen"] {
        .bookmark-button {
            border: none;
            background: none;
            svg {
                width: 1em;
                height: 1em;
            }
            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
                svg {
                    .bookmark-icon-outline {
                        fill: $bookmark-icon-outline-color-active;
                    }
                    .bookmark-icon-fill {
                        fill: $bookmark-icon-fill-color-active;
                    }
                }
            }
        }
        // Hide all subsequent bookmark buttons...
        & ~ [data-bookmark="onscreen"],
        & ~ * [data-bookmark="onscreen"] {
            .bookmark-button {
                display: none;
            }
            // ...unless they are bookmarked
            &[data-bookmarked] {
                .bookmark-button {
                    display: inline;
                }
            }
            // or hovered over
            &:hover,
            &:active,
            &:focus {
                .bookmark-button {
                    display: inline;
                }
            }
        }
    }

    // Bookmarkable elements
    [data-bookmarked] {
        svg {
            .bookmark-icon-outline {
                fill: $bookmark-icon-outline-color-active;
            }
            .bookmark-icon-fill {
                fill: $bookmark-icon-fill-color-active;
            }
        }
    }
}
