$web-dialogue: true !default;
@if $web-dialogue {

    // Dialogue
    // Using definition list element, dl

    dl.dialogue {
        dt {
            clear: both;
            float: left;
            min-width: $line-height-default * 2;
            padding-right: ($line-height-default * 0.25);
            &:after {
                content: ": "
            }
        }
        dd {
            margin: 0 0 0 ($line-height-default * 2.25); // match width + padding of dt
        }
    }

}
