$web-questions: true !default;
@if $web-questions {

    // Question formatting

    .question {
        page-break-inside: avoid;
        padding: 0;
        margin: $line-height-default 0;
        .figure {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // Check-answer button

    .question {
        .check-answer-button {
            display: none;
        }
    }
    .js-mcq {
        .question {
            .check-answer-button {
                display: inline-block;
                font-family: $font-text-secondary;
                line-height: $line-height-default;
                padding: $line-height-default/2 $line-height-default;
                background-color: $color-buttons;
                color: white;
                border: 0;
                border-radius: $button-border-radius;
                cursor: pointer;
            }
        }
        .feedback-label {
            margin-top: $line-height-default;
            background-color: $color-light;
            padding: $line-height-default / 2;
            border-radius: $box-border-radius $box-border-radius 0 0;
        }
    }

    // Quiz-group (e.g. exam), quiz and question numbering.
    // Questions are gathered in quizzes,
    // and quizzes can be gathered as sections in quiz-groups.

    .quiz-group {
        counter-reset: quiz-group 0 quiz 0 question 0;
    }
    .quiz {
        counter-reset: quiz; // question numbering restarts in each quiz...
        .quiz-group & {
            counter-reset: none; // ...except across quizzes in a single quiz-group
        }
        &:before {
            counter-increment: quiz-group;
            // content: counter(quiz-group); // Uncomment to number quizzes
        }
        // Don't number if there is only one quiz in the quiz-group
        &:only-child:before {
            content: normal;
        }
        .question {
            counter-reset: question;
            margin-left: $paragraph-indent; // with &:before margin-left, creates hanging indent
            &:before {
                counter-increment: quiz;
                content: counter(quiz) ".";
                float: left;
                margin-right: 0.25em;
                margin-left: -($paragraph-indent); // with parent's margin-left, creates hanging indent
            }
            &:only-of-type:before {
                content: normal;
            }
        }
        .question ol.sub-questions {
            list-style-type: none;
            li {
                &:before {
                    counter-increment: question;
                    content: counter(quiz) "." counter(question) " ";
                }
            }
        }
    }

    // Marks

    .quiz-group {
        .quiz-group-total-marks {
            font-family: $font-text-secondary;
            font-weight: bold;
            text-align: right;
        }
    }
    .quiz {
        .quiz-total-marks {
            font-family: $font-text-secondary;
            font-weight: bold;
            text-align: right;
        }
    }
    .question {
        li {
            // Avoid marks appearing beside wrong text
            clear: right;
        }
        em.marks, strong.marks {
            font-style: normal;
            font-weight: normal;
            float: right;
            margin-left: 1em;
            text-indent: 0; // don't inherit parent text-indent
        }
        .question-total-marks {
            font-family: $font-text-secondary;
            font-weight: bold;
            text-align: right;
            &:before {
                content: "[";
            }
            &:after {
                content: "]";
            }
        }
    }

    // Inputs

    .question {
        input.fill-in-blank {
            display: inline;
            width: 8em;
            padding: 0.2em;
            line-height: 1;
            margin: 0;
            border-width: 0 0 $rule-thickness 0;
        }
    }

    // Multiple-choice questions

    .mcq-options {
        margin-bottom: 0;
        [type="checkbox"] {
            display: inline-block;
            width: auto;
            margin: 0 ($line-height-default / 2) 0 0;
            cursor: pointer;
        }
        label {
            display: block;
            cursor: pointer;
        }
    }
    .mcq-feedback {
        display: none;
    }
    .js-mcq {
        .mcq-options {
            list-style-type: none;
            margin-left: 0;
            li {
                margin-bottom: $line-height-default / 2;
                margin-left: -($line-height-default / 2);
                padding: 0 ($line-height-default / 2);
                border: $button-border-radius solid transparent;
                border-radius: $button-border-radius;
            }
            .selected {
                border-color: $color-accent;
            }
        }
    }
    .js-mcq {
        .mcq-feedback {
            display: block;
            position: relative;
            list-style-type: none;
            margin-left: 0;
            background-color: $color-light;
            border-radius: 0 0 $box-border-radius $box-border-radius;
            li {
                display: none;
                padding: 0 ($line-height-default / 2) ($line-height-default / 2) ($line-height-default / 2);
            }
            .mcq-feedback-show {
                display: block;
            }
        }
    }

    // This is reserved for later use, currently hiddden.
    // Eventually, this will be a way to log into the site
    // that manages user authorisation.
    #nav .wordpress-link {
        display: none;
    }

}
