$web-figures: true !default;
@if $web-figures {

	// Figures

	.figure {
		clear: both;
		page-break-inside: avoid;
		background-color: inherit;
		font-size: inherit;
		font-weight: inherit;
		margin: $line-height-default 0;
		padding: $line-height-default / 2;
		p {
			clear: both;
			text-align: center;
			page-break-inside: avoid;
			page-break-before: avoid;
			hyphens: none;
			font-style: italic;
			em {
				font-style: normal;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		img, p img {
			margin: 0 auto;
			max-width: 100%; 
			object-fit: scale-down;
			display: block;
		}
		@media screen and (max-height: $break-point-height) {
			img, p img {
				max-height: $break-point-height / 2;
			}
		}
		@media screen and (max-height: ($break-point-height * 0.7)) {
			img, p img {
				max-height: $break-point-height * 0.35;
			}
		}
		.figure-body {
			.figure-images {
				text-align: center;
				margin-bottom: $line-height-default;
			}
			.figure-html, .figure-md {
				margin-bottom: $line-height-default;
			}
			.title {}
			// Descriptions are hidden by default, and used for image alt text
			.description {
				display: none;
			}
			.caption {
				margin: 0;
				text-align: center;
				text-indent: 0;
				.figure-reference {
					font-weight: bold;
				}
			}
		}
		.figure-source {
			.source {}
		}
		// Paragraphs following the image inside the blockquote
		// Allow for up to five
		.caption,
		p:nth-child(2),
		p:nth-child(2) + p,
		p:nth-child(2) + p + p,
		p:nth-child(2) + p + p + p,
		p:nth-child(2) + p + p + p + p {
			padding: 0;
			text-align: center;
			text-indent: 0;
		}
		&.x-small, &.small, &.large {
			p img, img {
				max-height: inherit;
			}
		}
		@media screen and (min-width: $break-point-width) {
			&.large {
				img, p img {
					max-height: $break-point-width;
				}
			}
		}
		// Thumbnail figures
		&.thumbnail {
			max-width: 25%;
			float: right;
			margin: 0 0 0 ($line-height-default / 2);
	    	padding: 0;
			img {
				padding: 0;
			}
		}
	}
}
