$web-annotator: true !default;
@if $web-annotator {

    // Styles for Hypothesis annotator

    // For our UI when externalContainerSelector
    // is defined as .annotator in Hypothesis config

    .annotator {
        iframe {
            display: none; // until shown with .annotator-toggle:checked
            height: 100vh;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 1000;
        }
        .annotator-toggle {
            svg {
                fill: $annotate-icon-color-inactive;
                width: $line-height-default;
            }
            // Show the iframe when checked
            &:checked {
                ~ label.annotator-toggle svg, .annotator-show-annotations svg {
                    fill: $annotate-icon-color-active;
                }
                & ~ iframe {
                    display: block;
                }
            }
        }
        .annotator-show-annotations {
            svg {
                width: $line-height-default;
                * {
                    stroke: $annotate-icon-color-inactive;
                }
            }
            // Change colour when checked
            &:checked {
                ~ label.annotator-show-annotations svg {
                    * {
                        stroke: $annotate-icon-color-active;
                    }
                }
            }
        }
        input[type='checkbox'] {
            display: none;
        }
    }

    // For Hypothesis default UI

    .annotator-frame {
        .annotator-bucket-bar {
            display: none;
        }
        .annotator-toolbar {
            top: 5em;
            display: none; // hide until shown by our button
            button {
                border-style: solid!important; // important to override inline styles from Hypothesis JS
            }
            .show-annotator:checked ~ & {
                display: block;
            }
        }
    }

}
