$web-nav-bar: true !default;
$nav-bar-back-button-hide: false !default;
@if $web-nav-bar {

    // Navigation

    .nav-buttons {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0.5em;
    }

    .nav-back-button {
        font-family: $font-text-secondary;
        font-size: inherit;
        color: $nav-bar-label-color;
        background-color: $nav-bar-label-background-color;
        border: $rule-thickness solid $nav-bar-label-border-color;
        border-radius: $button-border-radius;
        padding: 0.25em 0.5em;
        cursor: pointer;
        @if $nav-bar-back-button-hide {
            display: none;
        }
    }

    [href="#nav"] {
        font-family: $font-text-secondary;
        font-size: inherit;
        color: $nav-bar-label-color;
        background-color: $nav-bar-label-background-color;
        border: $rule-thickness solid $nav-bar-label-border-color;
        border-radius: $button-border-radius;
        padding: 0.25em 0.5em;
        .js-nav-open & {
            // Covers screen area, to let users click
            // anywhere on page to close nav bar
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
        }
    }
    // Reset position to fixed if $nav-bar-fixed: true
    $nav-bar-fixed: false !default;
    @if $nav-bar-fixed {
        .nav-buttons {
            position: fixed;
            z-index: 1; // less than .js-nav #nav
        }
        [href="#nav"] {
             .js-nav-open & {
                 z-index: inherit;
             }
         }
    }

    // Reset position to fixed if $nav-bar-fixed: true
    $nav-bar-fixed: false !default;
    @if $nav-bar-fixed {
        .visuallyhidden {
            // overrides default position: absolute
            position: fixed;
        }
    }

    // For Webkit, this is the easy way to remove the scrollbar
    // #nav::-webkit-scrollbar {
    //     display: none;
    // }
    #nav {
        font-family: $font-text-secondary;
        font-size: $nav-bar-text-size;
        width: 100%;
        height: 100%;
        overflow-x: hidden; // Hides horizontal scrollbar
        background-color: $nav-bar-background-color;
        border-top: $rule-thickness solid $nav-bar-border-color;
        padding-right: 17px; // Hides scroll bar

        .js-nav-open & {
            overflow-y: auto; // Must let this div scroll; we'll hide the scrollbar elsewhere
        }

        .js-nav & {
            width: $nav-bar-width;
            border-top: none;
            border-right: $rule-thickness solid $nav-bar-border-color;
            position: absolute;
            top: 0;
            left: 0;
        }
        // Reset position to fixed if $nav-bar-fixed: true
        $nav-bar-fixed: false !default;
        @if $nav-bar-fixed {
            .js-nav & {
                position: fixed;
                z-index: 2; // greater than [href="#nav"]
            }
        }

        // Search
        $search-enabled: true !default;
        @if $search-enabled {
            .search {
                // padding: 0 17px 0 0;
                margin: 0 -17px 0 0; // Fills width of container-with-hidden-scrollbar
                background-color: $nav-bar-search-background-color;
                input {
                    width: 90%; // Keeps input within nav-bar bounds
                    padding: 0.75em 0.75em;
                    border: 0;
                    font-family: $font-text-secondary;
                    font-size: inherit;
                    overflow-x: hidden; // Prevents scroll bar popping up when very long searches are entered
                    background-color: $nav-bar-search-background-color;
                }
            }
        } // if
        @else {
            .search {
                display: none;
            }
        } // else
        .nav-list {
            margin: 0 -17px 0 0; // Fills width of container-with-hidden-scrollbar
            // First level parent navigation
            ol, ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: $nav-bar-parent-background-color;
                li {
                    padding: 0;
                    width: 100%; // Use full width of li area
                    color: $nav-bar-parent-text-color;
                    a { // Make link fill entire li area
                        display: block;
                        // width: 100%;
                        padding: 0.1em 0.75em;
                        max-width: $nav-bar-width * 0.7; // Leaves space for child prompt
                        color: $nav-bar-parent-text-color;
                        &:hover, &:focus, &:active {
                            color: inherit; // inherits from full-width, hover li
                        }
                    }
                    &:hover, &:focus, &:active { // Hovered, focused, tapped on touchscreen
                        color: $nav-bar-parent-text-hover-color;
                        background-color: $nav-bar-parent-hover-color;
                        width: 100%; // extend right to edge
                    }
                    &.active { // The active page
                        background-color: $nav-bar-child-hover-color;
                        width: 100%; // extend right to edge
                        a {
                            color: $nav-bar-child-text-hover-color;
                        }
                        li {
                            a {
                                color: $nav-bar-child-text-color;
                            }
                        }
                    }
                } // li
                // Child navigation, after the parent, the rest of the nav-list
                ol, ul {
                    @if $nav-bar-item-collapse == true {
                        max-height: 0; // Instead of display: none, because it works with transitions
                    } @else {
                        max-height: none;
                    }
                    transition: max-height 0.5s ease-out; // See http://stackoverflow.com/a/8331169/1781075
                    background-color: $nav-bar-child-background-color;
                    width: 100%;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    li {
                        padding-left: 1em; // Indent sub lists, while keeping full-width background hover
                        width: 100%; // Use full width of li area
                        a { // Make link fill entire li area
                            display: block;
                            width: 100%;
                            color: $nav-bar-child-text-color;
                            &:hover, &:focus, &:active {
                                color: inherit;
                            }
                        }
                        &:hover, &:focus, &:active {
                            color: $nav-bar-child-text-hover-color;
                            background-color: $nav-bar-child-hover-color;
                            width: 100%; // extend right to edge
                        }
                    } // li
                    // Indent sub-sub lists, while keeping full-width background hover
                    ol, ul {
                        margin-left: -1em;
                        padding-left: 2em;
                        li {
                            padding-left: 2em;
                            position: relative;
                            left: -2em;
                        } // li
                    } // ol, ul
                } // ol, ul
                // Show sublist when preceding (i.e. parent) li is hovered
                // and when the list contains the current page.
                // Allow for direct li + ol siblings (deprecated HTML nested-list structure)
                // and for direct li > ol children (correct HTML nested-list structure).
                li:hover + ol, li:active + ol, li:focus + ol,
                li:hover + ul, li:active + ul, li:focus + ul,
                li:hover > ol, li:active > ol, li:focus > ol,
                li:hover > ul, li:active > ul, li:focus > ul,
                ol.active, ul.active {
                    height: auto;
                    max-height: 500em; // Bigger than it will ever be, for transition to work. See http://stackoverflow.com/a/8331169/1781075
                    transition: max-height 1s ease-in;
                }
                ol:hover, ul:hover, ol:active, ul:active, ol:focus, ul:focus,
                ol.active, ul.active {
                    height: auto; // Keep sublist visible once it's visible
                    max-height: 500em; // Matches max-height above
                }
            } // ol, ul
        } // .nav-list
        .widgets {
            margin: 0 -17px 0 0; // Fills width of container-with-hidden-scrollbar
        } // .widgets

        h2 {
            padding-left: 0.4em;
        }

    } // #nav

    .has-children {
        position: relative;
    }

    [data-toggle] {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        color: $nav-bar-child-text-hover-color;
        font-size: 1.25em;
        padding: 0 0.5em;
        margin: 0 0 0 -0.5em;
        height: 1.65em; // This magic number may not always work
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
        &:after {
            color: $nav-bar-children-prompt-color;
        }
        &.show-children {
            &:after {
                color: $nav-bar-children-prompt-color;
            }
        }
    }

    [data-nav-close] {
        &:after {
            content: $nav-bar-close;
        }
    }

    [data-toggle-nav] {
        left: $nav-bar-width * 0.7; // Keeps item text aligned in complex lists
        &:after {
            content: $nav-bar-children-prompt;
        }
        &.show-children {
            &:after {
                content: $nav-bar-children-prompt-hide;
            }
        }
    }

    // If link does not link to a file, make toggle cover entire link to expand children
    .no-file [data-toggle-nav] {
        margin-left: -($nav-bar-width * 0.7);
        padding-left: $nav-bar-width * 0.7;
    }

}
