// Footnotes, endnotes and sidenotes
// Note: Conventionally, HTML .footnotes are in a book context endnotes.

@mixin sidenote() {
    font-family: $font-text-secondary;
    clear: both;
    float: right;
    max-width: 10em;
    min-width: 5em;
    margin: 0 0 0.5em 0.5em;
    padding: $line-height-default / 2;
    text-indent: 0;
    font-size: $font-size-default * $font-size-smaller;
    line-height: $line-height-default * $font-size-smaller;
    font-style: inherit;
    background-color: white;
    position: relative;
    @media only screen and (min-width: $break-width-large) {
        margin: 0 -12em ($line-height-default / 2) 2em;
    }

    // Don't text-indent paragraphs that follow sidenotes that follow a heading.
    // We allow for up to three sidenotes between the heading and paragraph.
    h1 + & + p,
    h2 + & + p,
    h3 + & + p,
    h4 + & + p,
    h5 + & + p,
    h6 + & + p,
    h1 + & + & + p,
    h2 + & + & + p,
    h3 + & + & + p,
    h4 + & + & + p,
    h5 + & + & + p,
    h6 + & + & + p,
    h1 + & + & + & + p,
    h2 + & + & + & + p,
    h3 + & + & + & + p,
    h4 + & + & + & + p,
    h5 + & + & + & + p,
    h6 + & + & + & + p {
        text-indent: 0;
    }
    // Unless we're spacing paras, add an indent
    // on paras that follow sidenotes that follow paras.
    p + & + p {
        text-indent: $line-height-default;
    }
    @if $spaced-paras {
        p + & + p {
            text-indent: 0;
        }
    }
    // If sidenotes are blockquotes, the text will be in a p,
    // so inherit appearance from .sidenote, not p
    & p {
        line-height: inherit;
        color: inherit;
    }
    // Some sidenotes are inside boxes and need different margins
    .box & {
        margin-right: -13.25em;
    }
    @media only screen and (max-width: $break-width-small) {
        .box & {
            margin-right: inherit;
        }
    }
}

// This mixin used for close button here
// and on footnotes close button below
@mixin button-close($color) {
    background: $color;
    border-radius: 1em;
    border: 0;
    color: white;
    display: inline-block;
    font-family: $font-text-secondary;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    min-width: 1em;
    padding: 0.15em 0.1em 0em 0.1em;
    position: absolute;
    right: -($line-height-default / 2);
    text-align: center;
    top: -($line-height-default / 2);
    vertical-align: inherit;
    &:before {
        content: $nav-bar-close;
        display: inline-block;
        width: 1em;
        position: relative;
        top: -0.1em;
    }
}

$web-notes: true !default;
@if $web-notes {

    // Single sidenote
    .sidenote {
        @include sidenote();
    }

    // Footnotes section
    .footnotes {
      margin: ($line-height-default * 2) 0 0 0;
      padding: $line-height-default 0;
      border-top: $rule-thickness solid $color-light;
      color: $color-mid;
    }
    .footnotes p {
        text-indent: 0;
    }

    // Footnote popups
    .footnote-detail {
        // pull footnote-detail out of the doc flow so they hover above text
        z-index: 1;
        position: absolute;
        // look and feel
        margin-top: $line-height-default;
        max-width: $max-width-default;
        margin-left: auto;
        margin-right: auto;
        left: $max-width-default * 0.25 / 3;
        right: $max-width-default * 0.25 / 3;
        background-color: $color-background;
        font-family: $font-text-secondary;
        font-size: $font-size-default;
        line-height: $line-height-default;
        border: 0.2em solid $color-accent;
        padding: ($line-height-default / 2);
        box-shadow: 1px 2px 7px grey;
        border-radius: $box-border-radius;
        p {
            margin-bottom: 0;
        }
        // When footnotes are in sidenotes, let them be wider
        .sidenote.contains-footnote & {
            left: 0;
            right: 0;
        }
    }

    .footnotes {
        color: $color-text-secondary;
    }

    .footnote-detail {
        .reversefootnote {
            @include button-close($color-accent);
            border: 0;
            color: white;
            font-size: 1em;
            line-height: 1;
            padding: 0.15em 0.1em 0em 0.1em; // override button-close padding
            position: absolute;
            right: -($line-height-default / 2);
            top: -($line-height-default / 2);
            &:before {
                content: $nav-bar-close;
                display: inline-block;
                width: 1em;
                position: relative;
                top: -0.1em;
            }
            // When a footnote is used twice in a doc,
            // hide the second reverse footnote in popups, which
            // breaks the 'close' action of footnote popups.
            & + .reversefootnote {
                display: none;
            }
        }
    }

    // Prevent footnote references from disappearing below the fixed nav bar when linked to.
    sup:target {
        padding-top: 3.5em; 
    }

    // .bottom {} // Only used for print output, ignored for screen.

}