$web-boxes: true !default;
@if $web-boxes {

	// Boxes

	.box {
		background-color: $color-light;
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
		border: 1px solid $color-light;
		margin: $line-height-default 0;
		padding: ($line-height-default / 2);
		& p:last-of-type {
			margin-bottom: 0;
		}
		// No text-indent on paragraphs after boxes
		& + p {
			text-indent: 0;
		}
		// No margin above the first headings in a box
		h1:first-of-type, 
		h2:first-of-type, 
		h3:first-of-type, 
		h4:first-of-type, 
		h5:first-of-type, 
		h6:first-of-type {
			margin-top: 0;
		}
		li {
			// Paragraphs within list items in a box
			p:last-of-type {
				margin-bottom: 0;
			}
		}
		// Definition lists inside a box
		dl {
			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	// A regular paragraph as a box
	p.box {
		text-indent: 0;
	}
	// A list as a box
	ol.box,
	ul.box {
		padding: ($line-height-default / 2) ($line-height-default);
	}
	// A regular list item as a box
	li.box {}

}