$web-toc: true !default;
@if $web-toc {

	// Tables of contents

	.contents-page {
		#content { // Only applies to #content in contents-page, i.e. not to the nav or footer
			ol, ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				ol, ul {
					margin-left: $line-height-default;
				}
			}
		} // #content
	} // .contents-page

		/* TOCs in individual pages, created in kramdown with a placeholder ol/ul followed by {:toc} */

	#content {
		#markdown-toc, .markdown-toc {
			font-family: $font-text-secondary;
			list-style-type: none;
			border: $rule-thickness solid $color-mid;
			padding: $line-height-default / 2;
			margin: 0 0 $line-height-default 0;
			li {
				margin: 0;
				ol, ul {
					margin-bottom: 0;
				}
			}
			&.markdown-toc-wide {
				box-sizing: border-box;
				float: none;
				width: 100%;
				max-width: none;
				@media (min-width: $break-point-width) {
					columns: 2;
				}
			}
		} // #markdown-toc
	} // #content

}