@mixin pullquote($font-size: $font-size-default * $font-size-bigger, $line-height: 1) {
    text-indent: 0;
    font-size: $font-size;
    line-height: $line-height;
    text-align: center;
    margin: $line-height-default 0;
    & + p {
        text-indent: 0;
    }
}

$web-pullquotes: true !default;
@if $web-pullquotes {

    // Pull quotes

    .pullquote {
        @include pullquote();
    }

}
