$web-bookmarks: true !default;
@if $web-bookmarks {

    // Bookmarks

    $bookmarks-modal-header-height: 2.7rem;

    // The bookmarks list
    .bookmarks {
        color: $bookmark-text-color;
        padding: 0.55em; // aligns beneath language selector
        text-align: right;
        z-index: 100;

        .bookmarks-modal {
            @include dialog-styles();
            background-color: $color-background;
            border-color: $color-light;

            // Hide the list till click on parent
            display: none;

            // Appearance
            list-style-type: none;
            padding: 0; // override default masthead padding
            overflow: auto;

            // Position
            position: fixed;
            top: 50%;
            left: 50%;
            height: 50vh;
            max-width: 90vw;
            transform: translate(-50%, -50%);
            width: 20em;

            .last-locations-list {
                .last-locations-list-header {
                    left: 50%!important;
                }
                &.bookmarks-list-header-open {
                    .last-locations-list-header {
                        color: $color-text-main;
                    }
                }
                ul {
                    // Hide till this is shown
                    // position: relative; // makes z-index work
                    // visibility: hidden;
                    // z-index: -1;
                }
                .last-locations-list-tip {
                    // Hide till this is shown
                    // position: relative; // makes z-index work
                    // visibility: hidden;
                    // z-index: -1;
                }
            }
            .bookmarks-list {
                .bookmarks-list-header-open {
                    color: $color-text-main;
                }
                ul {
                    // Show over last-locations-list ul by default
                    position: relative; // makes z-index work
                    z-index: 1;
                }
            }

            .bookmarks-list,
            .last-locations-list {
                margin: 0;
                padding: 0;
                text-align: left;

                // Position
                position: absolute;
                top: $bookmarks-modal-header-height;
                left: 0;
                right: 0;

                .bookmarks-list-header,
                .last-locations-list-header {
                    border-bottom: $rule-thickness solid $color-light;
                    color: $color-links;
                    cursor: pointer;
                    font-size: 0.8em;
                    height: $bookmarks-modal-header-height;
                    letter-spacing: 0.05em;
                    padding: 0.5em;
                    text-align: center;
                    text-transform: uppercase;
                    width: 50%;

                    // Position
                    position: absolute;
                    top: -$bookmarks-modal-header-height;
                    left: 0;
                    right: 50%;

                    &.bookmarks-list-header-open {
                        border-bottom-color: $color-background;
                        color: $color-text-main;
                        cursor: auto;

                        & + ul,
                        & + ul + .bookmarks-list-tip,
                        & + ul + .last-locations-list-tip {
                            background-color: $color-background;
                            visibility: visible;
                            z-index: 1;
                        }
                    }
                }
                .bookmarks-list-header {
                    border-right: $rule-thickness solid $color-light;
                }
                .bookmarks-list-tip,
                .last-locations-list-tip {
                    // Hide till this is shown
                    position: relative; // makes z-index work
                    visibility: hidden;
                    z-index: -1;

                    // Appearance
                    color: $color-mid;
                    font-size: 0.8em;
                    line-height: $line-height-default;
                    min-height: 4em; // helps last-location tip obscure bookmark tip
                    padding: 1em;
                    text-align: center;
                }
                ul {
                    // Hide till this is shown
                    position: relative; // makes z-index work
                    visibility: hidden;
                    z-index: -1;

                    // Appearance
                    margin: 0;
                    padding: 1em;

                    &:empty {
                        // Don't take up space if empty
                        margin: 0;
                        min-height: 0;
                        padding: 0;
                    }

                    li {
                        display: block; // overrides masthead ul styles
                        font-size: 0.9em;
                        line-height: 1.4;
                        margin-bottom: 2em;
                        &:last-child { margin-bottom: 0; }

                        .bookmark-title {
                            font-family: $font-text-secondary;
                            font-size: 1.1em;
                            font-style: italic;
                            font-weight: 600;

                            &::after {
                                color: $color-mid;
                                content: "\2022";
                                font-size: 0.9em;
                                font-style: normal;
                                margin: 0 0.25em;
                            }

                            a {
                                color: $color-links;
                            }
                        }
                        .bookmark-date {
                            color: $color-mid;
                            font-family: $font-text-secondary;
                            font-size: 0.8em;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                        }
                        .bookmark-page {
                            // color: $color-mid;
                            display: block;
                            font-family: $font-text-secondary;
                        }
                        .bookmark-description {
                            // color: $color-mid;
                            font-family: $font-text-main;
                            font-size: 0.9em;
                        }
                        // override inherited styles from masthead ul li:after
                        &:after {
                            content: normal;
                        }
                        svg {
                            display: inline-block;
                            height: 0.75em;
                            margin-left: 0.5em;
                            width: 0.75em;
                            path {
                                fill: $bookmark-icon-color-active;
                            }
                        }
                    }
                }
            }
        }
        // Hide history icon here, we need it elsewhere, e.g. for JS
        .history-icon {
            display: none;
        }
    }

    // Icons (_includes/bookmark-icon, _includes/history-icon)
    svg[class*="icon"] {
        // Avoid Firefox bug where tapping selects SVG as text
        // https://bugzilla.mozilla.org/show_bug.cgi?id=1286882
        -moz-user-select: none;
        &.bookmark-icon {
            path {
                fill: $bookmark-icon-color-inactive;
            }
        }
        &.history-icon {
            path {
                fill: $bookmark-icon-color-inactive;
            }
        }
    }

    // Bookmark button
    .bookmark-button {
        background: none;
        border: none;
        padding: 0.333em;
        position: absolute; // avoids messing up line-height
        svg {
            width: 1em;
            height: 1em;
        }
        &:hover {
            background-color: transparent;
            svg {
                path {
                    fill: $bookmark-icon-color-active;
                }
            }
        }
    }

    // Bookmarkable elements
    // Hide bookmark button unless bookmarked
    // or hovering a parent element.
    .bookmark-button {
        display: none;
    }
    #content *:hover > .bookmark-button {
        display: inline-block;
    }
    [data-bookmarked] {
        // Always show bookmarked buttons
        .bookmark-button {
            display: inline-block;
        }
        svg[class*="icon"].bookmark-icon {
            path {
                fill: $bookmark-icon-color-active;
            }
        }
    }
}
