$web-cover: true !default;
@if $web-cover {

	// Cover image. This is useful for landing pages for individual books.

	body.cover {
		#content {
			margin: 0 auto;
			padding: 0;
			h1 {
				line-height: 0;
				font-size: 0;
			}
		}
	}
	p.cover {
		margin: 0 auto;
		padding: 0;
		text-indent: 0;
		height: 100vh;
	}
	img.cover {
		max-height: 100%;
		max-width: 100%;
		border: 1px solid $color-light;
	}

}