$web-annotator: true !default;
@if $web-annotator {

    // Styles for Hypothesis annotator

    // For our UI when externalContainerSelector
    // is defined as .annotator in Hypothesis config

    .annotator {
        // If language-select is not showing, move this down
        // as if language-select was there.
        &:nth-child(3) {
            position: relative;
            top: $line-height-default * 2; // magic number :(
        }
        label {
            display: block;
            padding: 0 ($line-height-default / 2);
            &:first-of-type {
                padding-top: $line-height-default / 2;
                border-radius: $button-border-radius 0 0 0;
            }
            &:last-of-type {
                padding-bottom: $line-height-default / 2;
                border-radius: 0 0 $button-border-radius 0;
            }
        }
        iframe {
            display: none; // until shown with .annotator-toggle:checked
            height: 100vh;
            position: fixed;
            right: 0;
            top: 0;
            width: $annotator-sidebar-width;
            max-width: 70vw; // leave space for icon buttons which have max 80vw
            z-index: 1000;
        }
        .annotator-toggle-sidebar {
            background-color: $color-background;
            svg {
                fill: $annotator-icon-color-inactive;
                width: $line-height-default;
            }
            &:checked {
                // Show the iframe when checked
                & ~ iframe {
                    display: block;
                }
                // Change colour when checked
                ~ label.annotator-toggle {
                    svg {
                        fill: $annotator-icon-color-active;
                    }
                }
                // Move controls left when iframe shows
                ~ label.annotator-toggle-sidebar,
                ~ label.annotator-show-annotations {
                    width: $annotator-sidebar-width + $line-height-default;
                    max-width: 80vw;
                    text-align: left;
                }
            }
        }
        .annotator-show-annotations {
            background-color: $color-background;
            svg {
                width: $line-height-default;
                * {
                    stroke: $annotator-icon-color-inactive;
                }
            }
            // Change colour when checked
            &:checked {
                ~ label.annotator-show-annotations {
                    svg {
                        * {
                            stroke: $annotator-icon-color-active;
                        }
                    }
                }
            }
        }
        input[type='checkbox'] {
            display: none;
        }
    }

    // For Hypothesis default UI

    .annotator-frame {
        .annotator-toolbar {
            top: 5em;
            button {
                border-style: solid!important; // important to override inline styles from Hypothesis JS
            }
        }
    }

}
