---
# Web styles
---

// Edit the default variables below.
// Comment/uncomment or add font imports below.
// Add your own custom CSS at the bottom.

// First, let's set character encoding. Don't change this.
@charset "utf-8";

// -------------
// Set variables
// -------------

// Edition suffix: identifies this edition in certain classes (e.g. in _epub-fitting.scss).
$edition-suffix: null;

// Max width of main body area
$max-width-default: 40em;

// We name font variables for two categories:
// - 'text' fonts are used for body text and some page features;
// - 'display' fonts are used for headings and similar short-string features.
// For each category, we set a main font and a secondary font, allowing up to four fonts.
// Finally, we set a fifth, monospace font for elements like computer code.
$font-text-main: "Source Sans Pro", serif;
$font-text-secondary: "Source Sans Pro", sans-serif;
$font-display-main: "Abhaya Libre", sans-serif;
$font-display-secondary: "Abhaya Libre", serif;
$font-code: "Inconsolata", monospace;

// Set font size and line-height in ems or px.
// These values, especially $line-height-default, are used to compute vertical rhythm
// for many features in this theme. So do not use a unitless value for line-height,
// and don't use percentages, which will break layouts computed by multiplying this value.
$font-size-default: 1.1em;
$line-height-default: 1.5em;
$font-size-smaller: 0.8; // How much smaller than font-size-default for features like sidenotes and footers?
$font-size-bigger: 3; // How many times bigger than font-size-default for features like headings and pullquotes?

// Colours
$color-text-main: #222222 !default;
$color-text-secondary: #222222 !default;
$color-footer-text: #222222 !default;
$color-background: white !default;
$color-footer: #e0e0e0 !default;
$color-light: #f6f6f6 !default;
$color-mid: #9c9c9c !default;
$color-accent: #000000 !default;
$color-links: #5f738c !default;
$color-buttons: #5f738c !default;
$color-highlight: #ffd54d !default;

// Some features rearrange at certain screen sizes.
// What are your break points for rearrangement?
$break-point-height: 600px;
$break-point-width: 600px;

// Set the default start-depth of pages.
// This is the distance from the top of the page to the first element on the first page.
$start-depth: $line-height-default * 2;

// Hyphenation
// Variables here apply to p, ul, ol, dl.
// Note: Most browsers and ereaders do not support hyphenation rules.
$hyphenation: auto; // Can be auto, none, or manual (only breaks on hyphens and soft hyphens)
$hyphenation-dictionary: ""; // Path to dictionary file, relative to `/book/styles`. E.g. "../../assets/hyph.dic".
$hyphenate-after: 3; // Minimum letters on new line after hyphen
$hyphenate-before: 3; // Minimum letters at end of line before hyphen
$hyphenate-lines: 1; // Maximum number of consecutive lines ending with hyphens

// Website masthead
$masthead-text-color: $color-light !default;
$masthead-background-color: $color-accent !default;
$masthead-border-color: $color-light !default;

// Website sidebar/navigation
$nav-bar-text-size: 0.8em !default;
$nav-bar-hide: true !default;
$nav-bar-prompt: "Contents" !default;
$nav-bar-item-collapse: true !default; // Does the nav list fully expand, or collapse until mouseover?
$nav-bar-children-prompt: " \2026"; // \2026 is an ellipsis (…)
$nav-bar-scrollbar: true !default;
$nav-bar-width: 20em !default;
$nav-bar-border-color: $color-light !default;
$nav-bar-background-color: white !default;
$nav-bar-search-background-color: white !default;
$nav-bar-parent-background-color: white !default;
$nav-bar-parent-text-color: black !default;
$nav-bar-parent-hover-color: #4f89d2 !default;
$nav-bar-parent-text-hover-color: white !default;
$nav-bar-child-background-color: $color-light !default;
$nav-bar-child-text-color: black !default;
$nav-bar-child-hover-color: #4f89d2 !default;
$nav-bar-child-text-hover-color: white !default;

// ---------------------------------
// Set to false to turn partials off
// ---------------------------------

// Reset browser CSS as best we can
$web-css-reset: true;

// Structural HTML components
$web-wrappers: true;

// Default typography
$web-base-typography: true;

// Navigation
$web-nav-bar: true;
$web-footer: true;

// Book parts
$web-cover: true;
$web-title-pages: true;
$web-copyright-page: true;
$web-dedications: true;
$web-epigraphs: true;
$web-toc: true;

// Book-feature classes
$web-bibliographies: true;
$web-boxes: true;
$web-buttons: true;
$web-code: true;
$web-glossaries: true;
$web-figures: true;
$web-index: true;
$web-maths: true;
$web-notes: true;
$web-openers: true;
$web-pullquotes: true;
$web-sources: true;
$web-tables: true;
$web-valedictions: true;
$web-verse: true;
$web-video: true;

// Type-control classes
$web-smallcaps: true;
$web-fitting: true;  // E.g. tracking and shrinking

// Logic (if this then that)
$web-reset-sequences: true; // This should stay last in the @import list

// ----------------------------------------------------
// Import font files (@font-face) for fonts you specify
// ----------------------------------------------------

// Import fonts from book-specific CSS.
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,700|Source+Sans+Pro:400,400i,700,700i');

// -------------
// Master theme
// -------------

// Import the default theme styles
@import 'web';

// -------------
// Custom styles
// -------------

// Add any custom style rules here.

// Base typogrpahy

// Headings

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

// Half-title page

.halftitle-page {}

// Title page

.title-page {}

// Previous publications page ('Also by the author')

.previous-publications-page {}

// Copyright page

.copyright-page {}

// Table of contents

.contents-page {}

// Dedication page

.dedication-page {}

// Epigraph page

.epigraph-page {}

// Frontispiece

.frontispiece-page {}

// Other frontmatter

.frontmatter {}

.chapter-intro {
    font-family: $font-text-secondary;
    margin: 0 -50em 1em -52em;
    padding: 1em 52em 0.5em 52em;
    border-top: 3px solid $color-mid;
    border-bottom: 3px solid $color-mid;
    background: $color-light;
}

