---
layout: min
---

{% include metadata %}

<?xml version='1.0' encoding='utf-8'?>
<widget id="{{ project-app-id }}" version="{{ project-version }}" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>{{ project-name }}</name>
    <description>
        {{ project-description }}
    </description>
    <author email="team@fireandlion.com" href="https://fireandlion.com/">
        {{ project-organisation }}
    </author>
    <content src="index.html" />
    <icon src="res/icon.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <engine name="ios" spec="~4.4.0" />
</widget>
