// Adobe Caslon Pro
@font-face {
    font-family: "Adobe Caslon Pro";
    src: url(fonts/ACaslonPro-Regular.otf);
}
@font-face {
    font-family: "Adobe Caslon Pro";
    src: url(fonts/ACaslonPro-Bold.otf);
	font-weight: bold;
}
@font-face {
    font-family: "Adobe Caslon Pro";
    src: url(fonts/ACaslonPro-Italic.otf);
	font-style: italic;
}
@font-face {
    font-family: "Adobe Caslon Pro";
    src: url(fonts/ACaslonPro-BoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}
@font-face {
    font-family: "Adobe Caslon Pro";
    src: url(fonts/ACaslonPro-Semibold.otf);
    font-weight: 600;
}
@font-face {
    font-family: "Adobe Caslon Pro";
    src: url(fonts/ACaslonPro-SemiboldItalic.otf);
    font-weight: 600;
    font-style: italic;
}
