// Cormorant Garamond https://www.google.com/fonts/specimen/Cormorant
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-Semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-SemiboldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Cormorant Garamond";
    src: url(fonts/CormorantGaramond-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
