// Crimson Text 
@font-face {
    font-family: "Crimson Text";
    src: url(fonts/CrimsonText-Roman.ttf);
}
@font-face {
    font-family: "Crimson Text";
    src: url(fonts/CrimsonText-Italic.ttf);
	font-style: italic;
}
@font-face {
    font-family: "Crimson Text";
    src: url(fonts/CrimsonText-Bold.ttf);
	font-weight: bold;
}
@font-face {
    font-family: "Crimson Text";
    src: url(fonts/CrimsonText-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}
@font-face {
    font-family: "Crimson Text";
    src: url(fonts/CrimsonText-Semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Crimson Text";
    src: url(fonts/CrimsonText-SemiboldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
