// Crimson https://github.com/skosch/Crimson
@font-face {
    font-family: "Crimson";
    src: url(fonts/Crimson-Roman.otf);
}
@font-face {
    font-family: "Crimson";
    src: url(fonts/Crimson-Italic.otf);
	font-style: italic;
}
@font-face {
    font-family: "Crimson";
    src: url(fonts/Crimson-Bold.otf);
	font-weight: bold;
}
@font-face {
    font-family: "Crimson";
    src: url(fonts/Crimson-BoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}
@font-face {
    font-family: "Crimson";
    src: url(fonts/Crimson-Semibold.otf);
    font-weight: 600;
}
@font-face {
    font-family: "Crimson";
    src: url(fonts/Crimson-SemiboldItalic.otf);
    font-weight: 600;
    font-style: italic;
}
