// Kalam (Google Fonts)
@font-face {
    font-family: "Kalam";
    src: url(fonts/Kalam-Regular.ttf);
}
@font-face {
    font-family: "Kalam";
    src: url(fonts/Kalam-Light.ttf);
	font-weight: 300;
}
@font-face {
    font-family: "Kalam";
    src: url(fonts/Kalam-Bold.ttf);
	font-weight: bold;
}
