// Libre Baskerville https://www.google.com/fonts/specimen/Libre+Baskerville
@font-face {
    font-family: "Libre Baskerville";
    src: url(fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: "Libre Baskerville";
    src: url(fonts/LibreBaskerville-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Libre Baskerville";
    src: url(fonts/LibreBaskerville-Italic.ttf);
    font-style: italic;
}
