@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_R.otf);
}
@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RI.otf);
	font-style: italic;
}
@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RB.otf);
	font-weight: bold;
}
@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RBI.otf);
	font-style: italic;
	font-weight: bold;
}
