// Linux Biolinum
@font-face {
    font-family: "Linux Biolinum";
    src: url(fonts/LinBiolinum_R.otf);
}
@font-face {
    font-family: "Linux Biolinum";
    src: url(fonts/LinBiolinum_RB.otf);
	font-weight: bold;
}
@font-face {
    font-family: "Linux Biolinum";
    src: url(fonts/LinBiolinum_RI.otf);
	font-style: italic;
}
