// Montserrat https://www.google.com/fonts/specimen/Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf);
	font-weight: bold;
}
