// Oswald: https://fonts.google.com/specimen/Oswald
@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-Bold.ttf);
    font-weight: bold;
}
