// Trajan Pro
@font-face {
    font-family: "Trajan Pro";
    src: url(fonts/TrajanPro-Regular.otf);
}
@font-face {
    font-family: "Trajan Pro";
    src: url(fonts/TrajanPro-Bold.otf);
	font-weight: bold;
}
