---
# Project CSS for web output
---

// This CSS is mainly for use on the project home-page,
// used in web and app outputs. (Others don't have a home page.)
// In older projects, we fetched the home-page CSS from
// the first book in `_data/works`. But sometimes that book
// is excluded from the build, or has idiosyncratic styles.
// This Sass file is project-wide CSS for non-book pages.


// -------------
// Set variables
// -------------

// Set variables specific to the project here
// that override the defaults in _sass/web.scss


// ------------
// Import fonts
// ------------

// Add @font-face rules for fonts you specify here.
// Add the actual font files to `../fonts`
// For snippets, try https://github.com/arthurattwell/font-faces


// -------------
// Master theme
// -------------

// Import master styles
@import 'template/web';


// -------------
// Custom styles
// -------------

// Add any custom Sass or CSS here.

