---
layout: compress
---

{% if site.output == 'epub' or site.output == 'print-pdf' or site.output == 'screen-pdf' %}

{% include template/head.html %}
{% include template/start-content.html %}
{{ content }}
{% include template/close-content.html %}
{% include template/close-body.html %}

{% else %}

{% include template/head.html %}
{% include template/masthead.html %}

{% if site.output == "web" and build == "development" and site.data.settings.web.annotator.development == true %}
{% include template/annotator.html %}
{% elsif site.output == "web" and build == "live" and site.data.settings.web.annotator.live == true %}
{% include template/annotator.html %}
{% endif %}

{% include template/nav-button.html %}
{% include template/start-content.html %}
{{ content }}
{% include template/close-content.html %}

{% if site.output == "web" and site.data.settings.web.pagination == true %}
{% include template/pagination.html %}
{% endif %}
{% if site.output == "app" and site.data.settings.app.pagination == true %}
{% include template/pagination.html %}
{% endif %}

{% include template/nav.html %}
{% include footer.html %}
{% include template/close-body.html %}

{% endif %}
