---
layout: compress
---

{% if page.type == 'file-list' or page.type == 'redirect' %}

{{ content }}


{% elsif site.output == 'epub' or site.output == 'print-pdf' or site.output == 'screen-pdf' %}

{% include head.html %}
{% include start-content.html %}
{{ content }}
{% include close-content.html %}
{% include close-body.html %}


{% else %}

{% include head.html %}
{% include masthead.html %}
{% include nav-button.html %}
{% include start-content.html %}
{{ content }}
{% include close-content.html %}
{% include nav.html %}
{% include footer.html %}
{% include close-body.html %}


{% endif %}
