# Set site.output == "app"
output: "app"

# Set site.image-set == "images/app"
image-set: "images/app"

# Turn off documentation
# Setting output: false actually doesn't work,
# see https://github.com/jekyll/jekyll/issues/7504
# so we also exclude the _docs below.
collections:
  docs:
    output: false
  api:
    output: false
  app:
    output: true

# Remove baseurl
baseurl: ""

# Exclude from this build
exclude:
  # Build tools
  - run.js
  - Gemfile
  - Gemfile.lock
  - README*
  - LICENSE*
  - CHANGELOG*
  - node_modules
  - eslint.json
  - gulpfile.js
  - package.json
  - package-lock.json
  - CNAME
  - .sass-cache

  # Included as-is in other files, no need to process
  - /assets/js/annotation.js
  - /assets/js/baseline-grid.js
  - /assets/js/polyfills.js
  - /assets/js/utilities.js
  - /assets/js/settings.js
  - /assets/js/locales.js
  - /assets/js/setup.js
  - /assets/js/mark-parents.js
  - /assets/js/mark.min.js
  - /assets/js/redact.js
  - /assets/js/search-store.js
  - /assets/js/search-terms.js
  - /assets/js/nav.js
  - /assets/js/videos.js
  - /assets/js/mcqs.js
  - /assets/js/select-list.js
  - /assets/js/tables.js
  - /assets/js/footnote-popups.js
  - /assets/js/show-hide.js
  - /assets/js/elasticlunr.min.js
  - /assets/js/elasticlunr-setup.js
  - /assets/js/svg-management.js
  - /assets/js/svg-inject.min.js
  - /assets/js/lazyload.js
  - /assets/js/accordion.js
  - /assets/js/heading-titles.js
  - /assets/js/rotate.js
  - /assets/js/footnotes.js
  - /assets/js/shift-elements.js
  - /assets/js/page-reference.js
  - /assets/js/bookmarks.js

  # Collections that must not render
  - _docs

  # Things we don't need for an app
  - _api
  - deploy.sh
  - sitemap.xml
  - test.sh
  - assets/profiles
  - /*/package.opf
  - /*/toc.ncx
  - /*/images/print-pdf
  - /*/images/screen-pdf
  - /*/images/web
  - /*/images/epub
  - /*/styles/print-pdf*
  - /*/styles/screen-pdf*
  - /*/styles/web*
  - /*/styles/epub*
