---
# Epub styles
---

// WHAT IS THIS?
// This is typography for the Electric Book Classic theme (http://electricbook.io).
// It is built with Sass. (See http://sass-lang.com, and http://jekyllrb.com/docs/assets for how Jekyll implements Sass.)
// Jekyll will compile the finished CSS for your books in _site/_themes/classic/css.
// 
// HOW TO USE IT
//
// Edit the default variables below.
// Comment/uncomment or add font imports below.
// Add your own custom CSS at the bottom.

// First, let's set character encoding. Don't change this.
@charset "utf-8";

// -------------
// Set variables
// -------------

$font-text-main: "Linux Libertine", serif;
$font-text-secondary: "Source Sans Pro", sans-serif;
$font-display-main: "Source Sans Pro", sans-serif;
$font-display-secondary: "Linux Libertine", serif;
$font-code: "Inconsolata", monospace;

$font-size-default: 1.2em;
$line-height-default: 1.5em;

// ----------------------------------------------------
// Import font files (@font-face) for fonts you specify
// ----------------------------------------------------

// We do not recommend importing and embedding fonts in epubs. However, if you must, uncomment and change here.
// @import "classic/css/_sass/partials/fonts/linux-libertine";
// @import "classic/css/_sass/partials/fonts/source-sans-pro";
// @import "classic/css/_sass/partials/fonts/inconsolata";
// @import "classic/css/_sass/partials/fonts/crimson";

// ------------
// Import theme
// ------------

// Classic theme
@import "classic/css/_sass/epub";

// -------------
// Custom styles
// -------------

// Add any custom style rules here.

// E.g. uncomment the following lines to use space between paragraphs rather than text indents.
//p {
//    margin-bottom: 1em;
//    text-indent: 0;
//}

// Half-title page

.halftitle-page {}

// Title page

.title-page {}

// Previous publications page ('Also by the author')

.previous-publications-page {}

// Copyright page

.copyright-page {}

// Table of contents

.contents-page {}

// Dedication page

.dedication-page {}

// Epigraph page

.epigraph-page {}

// Frontispiece

.frontispiece-page {}

// Other frontmatter

.frontmatter {}

