/*
 * Tables of contents
 */

.contents-page {
	h2 {
		font-weight: 400;
		font-size: 1.25em;
		margin: 1em 0 0.5em 0;
	}
	ol, ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0 0 0.5em 0;
	}
	a {
		text-decoration: none;
	}
}

/* TOCs in individual pages, created in kramdown with a placeholder ol/ul followed by {:toc} */

ul#markdown-toc, ol#markdown-toc {
	list-style-type: none;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding: 1em 0;
	margin: 2em 0;
}
#markdown-toc {
	ol, ul {
		list-style-type: none;
		margin: 0;
	}
	a {
		text-decoration: none;
	}
}
