// Cover image. Forms the cover image in epubs.
body.cover {
	margin: 0;
	padding: 0;
	text-align: center;
}
p.cover {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-indent: 0;
	height: 100vh;
}
img.cover {
	max-height: 100%;
	max-width: 100%;
	border: 1px solid #f9f9f9;
}
img.thumbnail {
	margin: 0 2em 0 0;
	height: 10em;
	float: left;
	border: 1px solid #f9f9f9;
}
