body {
    margin: 0;
    padding: 0;
}

// Removed experimentally: can't remember why we had this for epubs
//#wrapper{
//  clear: both;
//  max-width: 960px;
//  margin: auto;
//  padding: 0 0.3em 0 0.3em;
//}
