// Index
.reference-index li {
	list-style-type: none;
	text-indent: -2em;
}
.reference-index li li {
	margin: 0 0 0 -1em;
}
.reference-index a:after {
	content: ", ";
}
.reference-index a:last-of-type:after {
	content: "";
}
.reference-index .duplicate {
	display: none;
}
a.indexed {
	color: inherit;
	text-decoration: none;
}
