/* Base typography */

body {
	font-family: $font-text-main;
	font-size: $font-size-default;
	line-height: $line-height-default;
	margin: 0;
	padding: 0;
	font-variant: prince-opentype(liga);
	orphans: $orphans;
	widows: $widows;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-variant: prince-opentype(dlig);
	padding: 0;
}
h1 {
	font-size: $font-size-default * 3;
	line-height: $line-height-default * 3;
	margin: 0 0 ($line-height-default * 3) 0;
}
h1 strong:first-of-type { // Useful for chapter numbers: make the number first and bold in the h1
	display: block;
	margin: 0 0 $line-height-default 0;
	line-height: inherit;
}
h2 {
	font-size: $font-size-default * 2;
	line-height: $line-height-default * 2;
	margin: ($line-height-default * 4) 0 $line-height-default 0;
}
h3 {
	font-size: $line-height-default - 1;
	line-height: $line-height-default;
	margin: ($line-height-default * 2) 0 $line-height-default 0;
}
h4 {
	font-size: $font-size-default;
	line-height: $line-height-default;
	margin: ($line-height-default * 2) 0 0 0;
	font-style: italic;
}
h5 {
	font-size: $font-size-default;
	line-height: $line-height-default;
	margin: $line-height-default 0 0 0;
}
h6 {
	font-size: $font-size-default;
	line-height: $line-height-default;
	margin: 0 $line-height-default 0 0;
	display: inline;
	font-style: italic;
}
p, ul, ol, dl {
	font-variant: prince-opentype(onum);
	text-align: $text-align;
	letter-spacing: $letter-spacing-text;
}
p {
	margin: 0;
	text-indent: $line-height-default;
}
p:first-of-type {
	text-indent: 0;
}
sup, sub {
	line-height: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
em, strong {
	line-height: 100%; // Prevents some fonts from expanding/contracting a line's line height when em, strong present
}

/* Lists */

ul, ol {
	margin: 0 0 $line-height-default 0;
}
ol ol {
	list-style-type: lower-alpha;
}
ul ul, ol ol, blockquote ul ul, blockquote ol ol {
	margin-bottom: 0;
}
li > ul {
	margin-bottom: 0; /* manages line space after sublists in lists */
}
li {
	margin-left: $line-height-default;
}
li:first-of-type {
	page-break-after: avoid;
}
li:last-of-type {
	page-break-before: avoid;
}
li li:first-of-type {
	page-break-before:avoid;
}

/* Blockquotes */

blockquote {
	margin: $line-height-default 0 0 0;
	padding: 0 $line-height-default;
}
blockquote p {
	margin: 0;
	padding: 0;
}
blockquote p:first-of-type {
	text-indent: 0;
}
blockquote p:last-of-type, blockquote ol, blockquote ul {
	margin: 0 0 $line-height-default 0;
}

/* Definition lists */

dl {
	margin: ($line-height-default * 2) 0;
}
dt {
	page-break-after: avoid;
}
dd {
	margin: 0 0 $line-height-default $line-height-default;
}

/* Super and subscripts */

// This is mainly to prevent them from increasing line height in print output
sup, sub {
	line-height: 0;
}

/* Horizontal rules */

// Using <hr> as a divider (in markdown created with ***)
hr {
    content: "***";
    border: 0;
    font-family: $font-display-main;
    text-align: center;
    margin: $line-height-default 0;
}
