// Halftitle and title pages will always start on a right
.halftitle-page,
.title-page {
    page-break-before: right;
}

// By default, these page styles start on right-hand pages only
.frontmatter, 
.dedication-page, 
.epigraph-page, 
.contents-page, 
.chapter { 
	page-break-before: right;
}

// But they can be overriden by the $start-on variable
.frontmatter, 
.dedication-page, 
.epigraph-page, 
.contents-page, 
.chapter 
{ 
	page-break-before: $start-on;
}

// Also see:
// _print-page-break-tools.scss
// _print-front-cover.scss
