 // Use small-cap alternate glyphs
.smallcaps {
	letter-spacing: 0.025em;
	font-variant: prince-opentype(smcp, onum);
	font-style: inherit;
    font-weight: inherit;
}

/* Convert both upper and lowercase to small caps (affects punctuation also) */
.allsmallcaps { 
	letter-spacing: 0.025em;
	font-variant: prince-opentype(c2sc, smcp, onum);
	font-style: inherit;
    font-weight: inherit;
}
