/* Tighten tracking */
.xx-tight {
	letter-spacing: -0.05em;
	font-style: inherit;
}
.xxx-tight {
	letter-spacing: -0.1em;
	font-style: inherit;
}
/* Shrink the font size */
.shrink {
	font-size: 0.7em; /* Useful for wide tables */
}
