/*
 * Copyright page
 */

.copyright-page p {
	text-indent: 0;
	margin: 0 0 0.5em 0;
}
.copyright-page h1, .copyright-page h2 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	margin-top: 3em;
}
